<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{{options.title}}</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <link rel="stylesheet" href="public/kss.css" type="text/css" />
  <link rel="stylesheet" href="public/style.css" type="text/css" />
  <link rel="stylesheet" href="../css/common.css" type="text/css" />
  {{{styles}}}
  <!--[if lt IE 9]>
    <script src="public/html5shiv.js"></script>
  <![endif]-->
</head>
<body id="styleguide">
  <header class="styleguide-header styleguide-reset">
    <div class="styleguide-container">
      <h1>Styleguide</h1>
    </div>
  </header>
  <div class="styleguide-container">
    <nav class="styleguide-menu styleguide-reset">
       <ul class="styleguide-menu-list" data-kss-ref="{{rootNumber}}">
        <li><a href="./index.html">0. Overview</a></li>
        {{#eachRoot}}
        <li><a href="section-{{reference}}.html">{{reference}}. {{header}}</a></li>
        {{/eachRoot}}
      </ul>
    </nav>

    <div class="styleguide-content">

      {{#if overview}}
      <div class="styleguide-markdown-body styleguide-reset">
        {{{overview}}}
      </div>
      {{else}}
      {{#eachSection rootNumber}}
      {{#if markup}}
      <div class="styleguide-example">
        <header class="styleguide-example-header styleguide-reset">
          <h3>{{reference}} <em>{{header}}</em></h3>
        </header>
        {{#if description}}
        <div class="styleguide-description styleguide-markdown-body styleguide-reset">
          {{{description}}}

          <ul class="styleguide-modifier">
              {{#eachModifier}}
              <li><strong>{{name}}</strong> - {{{description}}}</li>
              {{/eachModifier}}
          </ul>
        </div>
        {{/if}}

        <div class="styleguide-element">
            <div class="styleguide-element-markup">
              {{modifierMarkup}}
          </div>
        </div>

        {{#eachModifier}}

        <div class="styleguide-element styleguide-modifier">
          <div class="styleguide-modifier-name">{{name}}</div>
          <div class="styleguide-modifier-description">{{html description}}</div>
          <div class="styleguide-element-markup">
              {{modifierMarkup}}
          </div>
        </div>
        {{/eachModifier}}

        <div class="styleguide-html styleguide-reset">
          <div class="styleguide-html-highlight">
            <pre><code class="xml">{{markup}}</code></pre>
          </div>
        </div>
      </div>
      {{else}}
      <header class="example-header styleguide-reset">
        <h1>{{ reference }} - {{header}}</h1>
      </header>
      {{#if description}}
      <div class="markdown-body styleguide-reset">
        {{{description}}}
      </div>
      {{/if}}
      {{/if}}
      {{/eachSection}}
      {{/if}}
    </div>
  </div>

  <footer class="styleguide-footer styleguide-reset styleguide-container">
    <p>Created using <a href="https://github.com/hughsk/kss-node">kss-node</a>.</p>
    <p>Designed by <a href="https://github.com/">GitHub</a> , <a href="http://warpspire.com/">Kyle Neath</a>. Adjusted by 1026</p>
  </footer>
  <script src="public/kss.js"></script>
  <script src="public/highlight.pack.js"></script>
  <script src="public/jquery-1.10.2.min.js"></script>
  <script src="public/styleguide.js"></script>
</body>
</html>
