<div class="agree-article">
    <p class="agree-article__para type-another">
        Celltrion, Inc. ("Celltrion") maintains this website.<br>
        By using this website, you accept the information, products, and services provided herein "as is" and you acknowledge that neither Celltrion, nor their agents, affiliates, partners, or licensors are providing the information, products, and services for the purposes of supplying you with medical advice because the material on this site is intended only as informational or as an educational aid and it is not intended to be taken as medical advice. Celltrion makes no express or implied warranty regarding the accuracy, content, completeness, reliability, operability, or legality of information contained within this website, including, without limitation, the warranties of merchantability, fitness for a particular purpose, and non-infringement of proprietary rights. You should not rely on the materials in deciding on a treatment plan, drug usage, or any other medical advice regarding the materials, and Celltrion firmly urges that you consult with a licensed physician in connection with any and all treatment options that may be available to you. This website may contain information on products that are targeted to a range of audiences and locations, and could contain product details or information not approved in countries or regions outside of the target audience.
        Please feel free to browse. By your access and use, you accept, without limitation, the terms of our Privacy Policy and our Terms of Use.
        Celltrion is not responsible for access to any such information which does not comply with applicable legal process, regulation or usage in your country of origin.
        In no event shall Celltrion, or its agents, affiliates, partners, or licensors be liable for any direct, special, indirect, incidental or consequential damages or any damages whatsoever resulting from loss related to the use of our websites, whether in an action of contract, breach of warranty, negligence, or other tortious action arising out of or in connection with the use of the materials contained on this website.
    </p>
</div><!-- //agree-article -->
