<div class="agree-article">
    01. Celltrion regulates the legal compliance and export and import safety management policy regarding the activities relating to export and import performed by this company as follows.  This policy shall be enacted and implemented to maintain and strengthen global competitiveness in addition to enabling the guarantee of the integrity of the export and import supply chain. <br>
    <br>
    02. The legal compliance and export and import safety management goal shall be established by continuously reviewing the current status of law compliance and safety management regarding export and import for systematic implementation of this policy.  <br>
    <br>
    03. The management environment shall be continuously observed and internal capacity shall be strengthened to achieve the goal of legal compliance and export and import safety management on a company-wide basis. <br>
    <br>
    04. Celltrion shall encourage the efficient communication between all officers and employees for the implementation of the export and import safety management policy so that company-wide export and import safety management conditions may be settled.<br>
    <br>
    05. All officers and employees shall actively cooperate in the enhancement of export and import safety management awareness and related work. <br>
    <br>
    06. Best efforts shall be made to procure safety of export and import goods and the assets of Celltrion through mutual cooperation with the parties in the export and import supply chain. <br>
    <br>
    07. Celltrion shall make great efforts so that the company may become a world-class export and import company that is trusted by others and is equipped with global competitiveness through the enactment and enforcement of this policy. <br>
    <br><br>
    <p class="agree-article__signature">
        CEO of Celltrion  <img src="../../images/etc/agree-signature.png" alt="Woo Sung Kee∙Hyoung Ki Kim">
    </p>
</div><!-- //agree-article -->
