	<div class="footer" id="footer">
		<div class="footer__column">
			<div class="footer__wrap">
				<div class="category-menu">
					<h2 class="category-menu__tit">All Menu</h2>
					<ul class="category-menu__list-d1">
						<li class="category-menu__item-d1">
							About Us
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Philosophy</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">CEO Greetings</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Business Strategy</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Business Area</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Capacity</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">History</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">CI</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Partners</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							Biosimilar
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Biosimilars</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Biologics</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Generics &amp; Biosimilars</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							Products
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Approved Products</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Quality</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Facilities</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Production Process</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							R&amp;D
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">R&amp;D Center</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Fields of Research</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Research Achievements</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Pipeline</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">R&amp;D Stroy</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1 category-menu__item-d1_4">
							IR
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Financial Information</a></li>
								<!--<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">주가정보</a></li>-->
								<!--<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">References</a></li>-->
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">IR Information</a></li>
								<!--<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">공시</a></li>-->
							</ul>
						</li>
						<li class="category-menu__item-d1">
							PR
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">News</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Press Release</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Video</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Brochure</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							Careers
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Talent</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Welfare</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Recruiting Process</a></li>
								<!-- <li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">직무소개</a></li> -->
								<!--<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">입사지원</a></li> -->
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Career Opportunities</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Zoom In Celltrion</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							CS Center
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Contact</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">FAQ</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Maps &amp; Directions</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- //category-menu -->
			</div>
		</div>
		<div class="footer__wrap">

			<div class="footer-logo">

			</div><!-- //footer-logo -->
			<div class="footer-menu">
				<h2 class="footer-menu__tit">footer menu</h2>
				<ul class="footer-menu__list">
					<li class="footer-menu__item"><a href="../etc/etc_001.html" class="footer-menu__link">Legal Notice</a></li>
					<li class="footer-menu__item"><a href="../etc/etc_002.html" class="footer-menu__link">Privacy Policy </a></li>
					<li class="footer-menu__item"><a href="../etc/etc_003.html" class="footer-menu__link">Export and Import Management Policy</a></li>
					<li class="footer-menu__item"><a href="../cscenter/cs_009.html" class="footer-menu__link">Directions</a></li>
					<!-- <li class="footer-menu__item"><a href="" class="footer-menu__link">사이트맵</a></li> -->
				</ul>
			</div><!-- //footer-menu -->

			<div class="address-copyright">
				<span class="address-copyright__item">23 Academy-ro, Yeonsu-gu, Incheon </span>
				<span class="address-copyright__item">TEL +82-32-850-5000</span>
				<span class="address-copyright__item">Copyright&copy; 2015 Celltrion Inc. All rights reserved.</span>
			</div><!-- //address-copyright -->

			<div class="sns-menu">
				<h2 class="sns-menu__tit">SNS Menu</h2>
				<ul class="sns-menu__list">
					<li class="sns-menu__item sns-menu__item_facebook"><a href="" class="sns-menu__link">Facebook</a></li>
					<li class="sns-menu__item sns-menu__item_twitter"><a href="" class="sns-menu__link">Twitter</a></li>
					<li class="sns-menu__item sns-menu__item_linkedin"><a href="" class="sns-menu__link">LinkedIn</a></li>
					<li class="sns-menu__item sns-menu__item_youtube"><a href="" class="sns-menu__link">Youtube</a></li>
				</ul>
			</div><!-- //sns-menu -->

		</div>
	</div><!-- //footer -->
