	<div class="header">
		<h1 class="top-logo">
			<a href="../main/main.html" class="top-logo__link"><img src="../../images/common/logo-top.png" alt="Celltrion" class="top-logo__img"></a>
		</h1><!-- //top-logo -->

		<div class="lang-menu" id="langLink">
			<h2 class="lang-menu__tit">Change language</h2>
			<ul class="lang-menu__list">
				<li class="lang-menu__item"><a href="" class="lang-menu__link">KOR</a></li>
			</ul>
		</div><!-- //lang-menu -->

		<div class="top-bar" id="topBar">
			<div class="top-bar__wrap">
				<div class="family-site">
					<h2 class="family-site__tit">Family Site</h2>
					<ul class="family-site__list">
						<li class="family-site__item on"><a href="#" class="family-site__link">Celltrion</a></li>
						<li class="family-site__item"><a href="http://www.celltrionhealthcare.com/" target="_blank" class="family-site__link">Celltrion Healthcare</a></li>
						<li class="family-site__item"><a href="http://www.celltrionph.com/eng/index.asp" target="_blank" class="family-site__link">Celltrion Pharm</a></li>
					</ul>
				</div><!-- //family-site -->
				<div class="mini-notice">
					<h2 class="mini-notice__tit">News</h2>
					<ul class="mini-notice__list" id="mini_list">
						<li class="mini-notice__item"><a href="#" class="mini-notice__link">제14기 정기주주총회 소집공고</a></li>
						<li class="mini-notice__item"><a href="#" class="mini-notice__link">제15기 정기주주총회 소집공고</a></li>
						<li class="mini-notice__item"><a href="#" class="mini-notice__link">제13기 정기주주총회 소집공고 제13기 정기주주총회 소집공고 제13기 정기주주총회 소집공고 제13기 정기주주총회 소집공고</a></li> <!-- 첫번쨰 -->
					</ul>
					<div class="mini-notice__btn-group">
						<a href="#" onclick="return false;" class="mini-notice__btn mini-notice__btn_prev">Prev</a>
						<a href="#" onclick="return false;" class="mini-notice__btn mini-notice__btn_next">Next</a>
					</div>
				</div><!-- //mini-notice -->
			</div>
			<div class="top-bar__btn-wrap">
				<button type="button" class="top-bar__btn" id="topBarBtn">Close/Open</button>
			</div>
		</div><!-- //top-bar -->

		<div class="gnb">
			<div class="gnb__tit">
				<h2>Main menu</h2>
				<span class="gnb__tit-bar gnb__tit-bar1"></span>
				<span class="gnb__tit-bar gnb__tit-bar2"></span>
				<span class="gnb__tit-bar gnb__tit-bar3"></span>
				<span class="gnb__tit-bar gnb__tit-bar4"></span>
			</div>
			<ul class="gnb__list-d1" id="gnb">
				<li class="gnb__item-d1">
					<a href="../about/about_001.html" class="gnb__link-d1 gnbEvt">About Us</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary">We are forming <strong>a healthy and happy tomorrow for humanity</strong></p>
						<ul class="gnb__list-d2 gnb__list-d2_1">
							<li class="gnb__item-d2"><a href="../about/about_001.html" class="gnb__link-d2">Philosophy</a></li>
							<li class="gnb__item-d2"><a href="../about/about_002_01.html" class="gnb__link-d2">CEO Greetings</a></li>
							<li class="gnb__item-d2"><a href="../about/about_003.html" class="gnb__link-d2">Business Strategy</a></li>
							<li class="gnb__item-d2"><a href="../about/about_004.html" class="gnb__link-d2">Business Area</a></li>
							<li class="gnb__item-d2"><a href="../about/about_005.html" class="gnb__link-d2">Capacity</a></li>
							<li class="gnb__item-d2"><a href="../about/about_006_01.html" class="gnb__link-d2">History</a></li>
							<li class="gnb__item-d2"><a href="../about/about_007_01.html" class="gnb__link-d2">CI</a></li>
							<li class="gnb__item-d2"><a href="../about/about_008_01.html" class="gnb__link-d2">Partners</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../biosimilar/bio_001.html" class="gnb__link-d1 gnbEvt">Biosimilar</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary">Novel <strong>Paradigm</strong> for <strong>a Comfortable</strong> and <strong>Happy Life</strong></p>
						<ul class="gnb__list-d2 gnb__list-d2_2">
							<li class="gnb__item-d2"><a href="../biosimilar/bio_001.html" class="gnb__link-d2">Biosimilars</a></li>
							<li class="gnb__item-d2"><a href="../biosimilar/bio_002.html" class="gnb__link-d2">Biologics</a></li>
							<li class="gnb__item-d2"><a href="../biosimilar/bio_003.html" class="gnb__link-d2">Generics &amp; Biosimilars</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../prod/prod_001.html" class="gnb__link-d1 gnbEvt">Products</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary"><strong>FDA approved</strong> facilities and Global <strong>GMP</strong> quality control policy</p>
						<ul class="gnb__list-d2 gnb__list-d2_3">
							<li class="gnb__item-d2"><a href="../prod/prod_001.html" class="gnb__link-d2">Approved Products</a></li>
							<li class="gnb__item-d2"><a href="../prod/prod_002.html" class="gnb__link-d2">Quality</a></li>
							<li class="gnb__item-d2"><a href="../prod/prod_003.html" class="gnb__link-d2">Facilities</a></li>
							<li class="gnb__item-d2"><a href="../prod/prod_004.html" class="gnb__link-d2">Production Process</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../rd/rd_001.html" class="gnb__link-d1 gnbEvt">R&amp;D</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary">The Source of <strong>Exploration</strong> and <strong>Innovation</strong> Towards <strong>a Better and Happier Life</strong></p>
						<ul class="gnb__list-d2 gnb__list-d2_4">
							<li class="gnb__item-d2"><a href="../rd/rd_001.html" class="gnb__link-d2">R&amp;D Center</a></li>
							<li class="gnb__item-d2"><a href="../rd/rd_002.html" class="gnb__link-d2">Fields of Research</a></li>
							<li class="gnb__item-d2"><a href="../rd/rd_003.html" class="gnb__link-d2">Research Achievements</a></li>
							<li class="gnb__item-d2"><a href="../rd/rd_004.html" class="gnb__link-d2">Pipeline</a></li>
							<li class="gnb__item-d2"><a href="../rd/rd_005.html" class="gnb__link-d2">R&amp;D Story</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../ir/ir_001_01_01.html" class="gnb__link-d1 gnbEvt">IR</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary">Summary of <strong>business activities</strong> and financial information</p>
						<ul class="gnb__list-d2 gnb__list-d2_5">
							<li class="gnb__item-d2"><a href="../ir/ir_001_01_01.html" class="gnb__link-d2">Financial Information</a></li>
							<!--<li class="gnb__item-d2"><a href="../ir/ir_002_01.html" class="gnb__link-d2">주가정보</a></li>-->
							<!--<li class="gnb__item-d2"><a href="../ir/ir_003_01.html" class="gnb__link-d2">References</a></li>-->
							<li class="gnb__item-d2"><a href="#" class="gnb__link-d2">IR Information</a></li>
							<!--<li class="gnb__item-d2"><a href="../ir/ir_006.html" class="gnb__link-d2">공시</a></li>-->
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../pr/pr_001_01.html" class="gnb__link-d1 gnbEvt">PR</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary">We deliver the <strong>latest news</strong> of <strong>Celltrion</strong></p>
						<ul class="gnb__list-d2 gnb__list-d2_6">
							<li class="gnb__item-d2"><a href="../pr/pr_001_01.html" class="gnb__link-d2">News</a></li>
							<li class="gnb__item-d2"><a href="#" class="gnb__link-d2">Press Release</a></li>
							<li class="gnb__item-d2"><a href="../pr/pr_003.html" class="gnb__link-d2">Video</a></li>
							<li class="gnb__item-d2"><a href="../pr/pr_004.html" class="gnb__link-d2">Brochure</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../careers/careers_001_01.html" class="gnb__link-d1 gnbEvt">Careers</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary">We seek <strong>Talented People</strong> who will Grow with <strong>Celltrion</strong></p>
						<ul class="gnb__list-d2 gnb__list-d2_7">
							<li class="gnb__item-d2"><a href="../careers/careers_001_01.html" class="gnb__link-d2">Talent</a></li>
							<li class="gnb__item-d2"><a href="../careers/careers_002_01.html" class="gnb__link-d2">Welfare</a></li>
							<li class="gnb__item-d2"><a href="../careers/careers_003_01.html" class="gnb__link-d2">Recruiting Process</a></li>
							<!-- <li class="gnb__item-d2"><a href="#" class="gnb__link-d2">직무소개</a></li> -->
							<!--<li class="gnb__item-d2"><a href="#" class="gnb__link-d2">입사지원</a></li>-->
							<li class="gnb__item-d2"><a href="../careers/careers_005_01.html" class="gnb__link-d2">Announcement on Career Opportunities</a></li>
							<li class="gnb__item-d2"><a href="../careers/careers_006_01.html" class="gnb__link-d2">Zoom In Celltrion</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../cscenter/cs_001.html" class="gnb__link-d1 gnbEvt">CS Center</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary">We will make all efforts to promptly respond to your inquiries</p>
						<ul class="gnb__list-d2 gnb__list-d2_8">
							<li class="gnb__item-d2"><a href="../cscenter/cs_001.html" class="gnb__link-d2">Contact</a></li>
							<li class="gnb__item-d2"><a href="../cscenter/cs_009.html" class="gnb__link-d2">Maps &amp; Directions</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<script>
				$(document).ready(function(){
					$(".gnbEvt").accessibleDropDown("gnbSub");
				});
			</script>
		</div><!-- //gnb -->
	</div><!-- //header -->
