<div>
    <div class="careers-zoom-list-wrap" id="zoomList">
        <ul class="careers-zoom-list">
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide1">
                <a href="careers_006_02.html#slide1" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb01.jpg" alt="R&amp;D for Novel Pharmaceuticals - Infectious Disease and Vaccine Team Deputy Head of Department Pan Kyeom Kim" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">Research &amp; Development New Product</p>
                        <p class="careers-zoom-list__team">Infectious Disease &amp; <span class="inline-block">Vaccine Team</span></p>
                        <p class="careers-zoom-list__name"><span class="inline-block">Deputy Head</span> <span class="inline-block">of Department</span> <span class="inline-block letter-1"><strong>Pan Kyeom Kim</strong></span> <i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide2">
                <a href="careers_006_03.html#slide2" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb02.jpg" alt="R&amp;D for Cell Process - Cell Culture Process Team Manager Seong Eon Park" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">Research &amp; Development Upstream Process</p>
                        <p class="careers-zoom-list__team">Cell Culture Process Team</p>
                        <p class="careers-zoom-list__name"><span class="inline-block">Manager</span> <strong><span class="inline-block letter-1">Seong Eon Park</span></strong> <i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide3">
                <a href="careers_006_04.html#slide3" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb03.jpg" alt="Production DS1 - Cell Culture 2 Team Manager Hyuk Sang Son" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">Manufacturing Drug Substance 1</p>
                        <p class="careers-zoom-list__team">Cell Culture 2 Team</p>
                        <p class="careers-zoom-list__name"><span class="inline-block">Manager</span> <span class="inline-block letter-1"><strong>Hyuk Sang Son</strong></span><i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide4">
                <a href="careers_006_06.html#slide4" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb04.jpg" alt="Quality Control &amp; Technology Quality Assurance - Quality Compliance 1 Team  Manager Jae Hoon Lee" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">Global Quality Operation Technical QA</p>
                        <p class="careers-zoom-list__team"><span class="inline-block">Quality Compliance</span> <span class="inline-block">1 Team</span></p>
                        <p class="careers-zoom-list__name"><span class="inline-block">Manager</span> <span class="inline-block"><strong>Jae Hoon Lee</strong></span><i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide5">
                <a href="careers_006_05.html#slide5" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb05.jpg" alt="RA International - RA International 3 Team Assistant Manager Je Sok Oh" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">Product Development RA International</p>
                        <p class="careers-zoom-list__team">RA International 1 Team</p>
                        <p class="careers-zoom-list__name"><span class="inline-block">Assistant Manager</span> <span class="inline-block"><strong>Je Sok Oh</strong></span><i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide6">
                <a href="careers_006_07.html#slide6" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb06.jpg" alt="Judicial Affairs &amp; Intellectual Properties - IP Strategy Team Manager Mi Ran Lee" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">Legal Intellectual Property</p>
                        <p class="careers-zoom-list__team">IP Strategy Team</p>
                        <p class="careers-zoom-list__name"><span class="inline-block">Manager</span> <span class="inline-block"><strong>Mi Ran Lee</strong></span><i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
        </ul><!-- //careers-zoom-list -->
    </div><!-- //careers-zoom-list-wrap -->
    <div id="zoomPagination" class="careers-zoom-pagination"></div>
    <script type="text/javascript" src="../../js/jquery.event.drag-1.5.1.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.touchSlider.js"></script>
	<script type="text/javascript" src="../../js/zoom-in.js"></script>
</div>
