@charset "utf-8";
@import "mixin";

// Base
//
// 공통으로 사용되는 class 모음입니다.
//
// Styleguide 1.

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300normal,300italic,400normal,400italic,600normal,600italic,700normal,700italic,800normal,800italic);

@include font-face('Nanum Gothic','../fonts/NanumGothic-Light',100,normal,eot woff);
@include font-face('Nanum Gothic','../fonts/NanumGothic-Regular',400,normal,eot woff2 woff);
@include font-face('Nanum Gothic','../fonts/NanumGothic-Bold',700,normal,eot woff2 woff);
@include font-face('Nanum Gothic','../fonts/NanumGothic-ExtraBold',900,normal,eot woff2 woff);

body,
input,
textarea,
select,
button { line-height:1.3; color:$black-tit; font-size:13px; font-family:'Open Sans',sans-serif; -webkit-tap-highlight-color: rgba(0,0,0,0); vertical-align:middle; }
img { border:0; vertical-align:top; }
a { background-color:transparent; }

strong { font-weight:$bold; }

// Font
//
// 'Nanum Gothic' web font를 기본 글꼴로 사용합니다.
//
// 글꼴굵기에 따라 'NanumGothic-Light', 'NanumGothic-Regular', 'NanumGothic-Bold'를 사용합니다.
//
// Styleguide 1.1.

// font-normal
//
// 기본 형태입니다.
//
// Markup:
// <span class="font-normal">가나다라마바사아자차카타파하 abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ 1234567890</span>
//
// Styleguide 1.1.1

// font-light
//
// 얇은 형태입니다.
//
// Markup:
// <span class="font-light">가나다라마바사아자차카타파하 abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ 1234567890</span>
//
// Styleguide 1.1.2.

// font-bold
//
// 굵은형태입니다.
//
// Markup:
// <span class="font-bold">가나다라마바사아자차카타파하 abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ 1234567890</span>
//
// Styleguide 1.1.3.

.font-light { font-weight:$light; }
.font-normal { font-weight:$normal; }
.font-bold { font-weight:$bold }

.link {
	&:link,
	&:visited,
	&:active { color:inherit; text-decoration:none; }
	&:hover { text-decoration:underline; }
}

// Color
//
// Styleguide 1.2.

// color-black-tit
//
// 기본색상입니다.
//
// Markup:
// <span class="color-black-tit">abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ 가나다라마바사아자차카타파하 1234567890</span>
//
// Styleguide 1.2.1

// color-black-body
//
// Markup:
// <span class="color-black-body">abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ 가나다라마바사아자차카타파하 1234567890</span>
//
// Styleguide 1.2.2

// color-transparent
//
// Markup:
// <span class="color-transparent">abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ 가나다라마바사아자차카타파하 1234567890</span>
//
// Styleguide 1.2.2

// color-purple
//
// Markup:
// <span class="color-purple">abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ 가나다라마바사아자차카타파하 1234567890</span>
//
// Styleguide 1.2.3

// color-red
//
// Markup:
// <span class="color-red">abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ 가나다라마바사아자차카타파하 1234567890</span>
//
// Styleguide 1.2.4

.color-black-tit { color:$black-tit; }
.color-black-body { color:$black-body; }
.color-transparent { color:transparent;}
.color-purple { color:$purple; }
.color-red { color:$red; }

// Word Wrap
//
// Styleguide 1.3.

// inline-block
//
// 데스크탑-모바일 전환시 자연스러운 줄바꿈을 위하여 단어 혹은 문장별로 `<br>` 대신 `.inline-block`로 묶어 줍니다.
//
// Markup:
// <span class="inline-block">셀트리온의 사업은 </span>
// <span class="inline-block">국내시장이 아닌 세계시장이며, </span>
// <span class="inline-block">세계적인 기업과의 경쟁에서 이기기 위해 </span>
// <span class="inline-block">모든 임직원은 세계제일주의 사고와</span>
// <span class="inline-block">그에 부흥하는 실력을 갖추어야 한다.</span>
//
// Styleguide 1.3.1

.inline-block { display:inline-block; white-space:nowrap; }
.fieldset { border:none; margin:0; padding:0; }
