@charset "utf-8";
@import "mixin";
//layout
html, body { height:100%; }
body { min-width:$site-width; margin:0; padding:0; background-color:#fff; word-break:keep-all;
	@media only screen and (max-width:$tablet-size) {
		min-width:1%;
	}
}
/* skip */
.skip {
	a { @include hidden; z-index:9999;
		&:hover,
		&:focus { -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; height:auto; padding:5px; background-color:#fff; border-bottom:1px solid #222; text-align:center; text-decoration:none; color:inherit; }
	}
}

.wrapper {
	&_main { position:absolute; z-index:100; top:0; left:0; right:0; bottom:0; margin-bottom:-104px; }
	@media only screen and (max-width:$tablet-size) {
		position:static; margin-bottom:0;
		&.gnbDimmed {
			&:after { position:fixed; z-index:4000; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,.8); content:''; }
		}
	}
}

/* header */
.header { @include block; position:relative; z-index:5000; border-bottom:1px solid $green;
	&:before { position:absolute; z-index:300; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background-color:#fff; background-color:rgba(255,255,255,.8); content:''; }
	&:after { position:absolute; height:11px; bottom:-12px; left:0; right:0; content:''; background:url(../images/layout/header-bg-shadow.png) repeat-x; }
	&__wrap { position:relative; z-index:500;width:$site-width; margin-left:auto; margin-right:auto; }
	@media only screen and (max-width:$tablet-size) {
		height:70px;
		&:before { background-color:#fff; }
		&:after { display:none; }
		&__wrap { width:auto; }
	}
}

.top-logo { position:absolute; z-index:500; bottom:21px; left:50%; margin:0 0 0 -500px;
	&__link { display:block; height:34px;}
	&__img { height:100%; }
	@media only screen and (max-width:$tablet-size) {
		bottom:11px; left:12px; margin-left:0;
		&__link { height:21px; }
	}
}

.top-bar { @include block; position:relative; z-index:500; height:35px; margin-top:-36px; border-bottom:1px solid #dfdfdf; background-color:#f8f8f8;
	$this:&;
	&.open { margin-top:0;}
	&__wrap { width:$site-width; height:inherit; margin-left:auto; margin-right:auto;}
	&__btn-wrap { position:absolute; bottom:-19px; right:49px; }
	&__btn { width:55px; height:18px; margin:0; padding:0; border:none; background-color:transparent; @include background-image-retina('../images/layout/layout-ico-set','png',350px,100px); background-repeat:no-repeat; background-position:-200px 0; text-indent:-999em; cursor:pointer;
		#{$this}.open & { background-position:-200px -20px; }
	}
	@media only screen and (max-width:$tablet-size) {
		margin-top:0; height:27px;
		&__wrap { width:auto; }
		&__btn-wrap { display:none; }
	}
}

.family-site { float:left; height:100%; font-size:12px;
	&__tit { @include hidden; }
	&__list { overflow:hidden; height:inherit; margin:0; padding:0; border-left:1px solid #dfdfdf; list-style:none; }
	&__item { float:left; display:table; height:inherit; border-right:1px solid #dfdfdf; }
	&__link { display:table-cell; padding:0 20px; color:#999; text-decoration:none; vertical-align:middle; }
	&__link:hover { color:$green; }
	.on &__link { padding-bottom:2px; border-top:2px solid $green; color:$green; background-color:#fff; }
	@media only screen and (max-width:$tablet-size) {
		display:none;
	}
}

.mini-notice {margin:4px 0px;
	@media only screen and (max-width:$tablet-size) {
		margin:0px;
	}
	$h:27px;
	overflow:hidden; float:right; position:relative; width:490px; height:$h; line-height:$h;
	&__tit { float:left; position:relative; padding:0 12px 0 18px; margin:0 10px 0 0; color:#222; vertical-align:middle; font-size:12px;  text-align:center;
		&:before { display:inline-block; position:absolute; left:0; top:0; bottom:1px; width:12px; height:12px; margin:auto; content:''; vertical-align:middle; @include background-image-retina('../images/layout/layout-ico-set','png',350px,100px); background-repeat:no-repeat; background-position:-260px -20px; }
	}
	&__tit:after { position:absolute; height:10px; top:0; right:0; bottom:0; margin:auto; border-right:1px solid #dfdfdf; content:''; }
	&__list {position:relative; overflow:hidden; margin:0 40px 0 0; padding:0; list-style:none; }
	&__item { overflow:hidden; color:$black-body; text-overflow:ellipsis; white-space:nowrap; }
	&__link { color:inherit; text-decoration:none; }
	&__link:hover { text-decoration:underline; }
	&__btn-group { position:absolute; top:0; right:0; bottom:0; height:15px; margin:auto; }
	&__btn { -webkit-box-sizing:border-box; box-sizing:border-box; overflow:hidden; float:left; position:relative; width:16px; height:100%; border:1px solid #dededf; background-color:#fff;  text-indent:-999em;
		&:hover { z-index:1; }
		&:after { display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:6px; height:3px; margin:auto; @include background-image-retina('../images/layout/layout-ico-set','png',350px,100px); background-repeat:no-repeat; content:''; }
		&_prev:after { background-position:-260px 0 }
		&_next { margin-left:-1px;
			&:after { background-position:-280px 0; }
		}
	}
	@media only screen and (max-width:$tablet-size) {
		$h:27px;
		float:none; width:auto; height:$h; line-height:$h;
		&__list { margin-right:50px; }
		&__tit { margin-left:12px; }
		&__btn-group { right:13px; }
	}

}


.gnb { position:relative; z-index:400; height:74px;
	$this:&;
	&__tit { @include hidden; }
	&__list-d1 { -webkit-box-sizing:border-box; box-sizing:border-box; width:1000px; height:inherit; margin:0 auto; padding:0 60px 0 0; list-style:none; font-size:0; text-align:right; }
	&__item-d1 { display:inline-block; height:inherit; margin-left:20px; color:$black-tit; font-size:14px; vertical-align:top; text-align:center;
		&.hover:after { display:block; width:11px; height:11px; margin:-5px auto 0; @include background-image-retina('../images/layout/layout-ico-set','png',350px,100px); background-repeat:no-repeat; background-position:-300px 0;  content:''; }
	}
	&__link-d1 { display:table-cell; height:inherit; padding:0 10px;text-transform:uppercase; color:inherit; text-decoration:none; vertical-align:middle; font-family: 'Open Sans',sans-serif;
		#{$this}__item-d1.hover & { color:$green; }
	}
	&__summary { position:absolute; left:50%; width:220px; margin:30px 0 0 -500px; text-align:left; font-size:18px; }
	&__wrap-d2 { position:absolute; z-index:-1; left:0; right:0; height:150px; margin-top:-999px; background-color:#fff;
		&:before { position:absolute; top:0; left:0; right:0; height:11px; background:url(../images/layout/header-bg-shadow.png) repeat-x; content:''; }
		&:after { position:absolute; bottom:-12px; left:0; right:0; height:11px; border-top:1px solid $green; background:url(../images/layout/header-bg-shadow.png) repeat-x; content:''; }
	}
	&__list-d2 { position:absolute; left:50%; height:150px; margin:0 0 0 -500px; padding:0; list-style:none; font-size:0; white-space:nowrap; line-height:1.1;
		&_1 { margin-left:-281px; }
		&_2 { margin-left:-263px;
			& .gnb__item-d2{width:100px;}
		}
		&_3 { margin-left:-178px; }
		&_4 { margin-left:-132px; }
		&_5 { margin-left:64px; }
		&_6 { margin-left:29px; }
		&_7 { margin-left:65px; }
		&_8 { margin-left:304px; }
	}
	&__item-d2 { display:inline-block; position:relative; width:90px; margin-top:20px; text-align:center; font-size:13px; color:#cbcbcb; white-space:normal;
	}
	&__link-d2 { display:table-cell; width:1%; height:40px; padding-bottom:60px; color:inherit; text-decoration:none; vertical-align:middle;
		&:after { position:absolute; bottom:0; left:0; right:0; width:56px; height:56px; margin:auto; background:url(../images/layout/gnb-icon.png) no-repeat; content:''; }
		&:hover,
		&:focus { color:$green; }
		@for $i from 1 through 8 {
			#{$this}__item-d1:nth-child(#{$i}) & {
				&:after { background-position-y:(-112px * $i)+112; }
				&:hover:after,
				&:focus:after { background-position-y:(-112px * $i)+56; }
			}
			#{$this}__item-d2:nth-child(#{$i}) & {
				&:after { background-position-x:(-56px * $i)+56; }
				//&:hover:after { background-position-y:(-56px * $i)+56; }
			}
		}
	}
	&__item-d1.hover,
	&__item-d1:hover { /* padding-bottom:150px;  */}
	&__item-d1.hover &__wrap-d2 { margin-top:1px; }
	@media only screen and (max-width:$tablet-size) {
		position:absolute; bottom:0; left:0; right:0; height:auto; text-align:right;
		//&__tit { display:block; top:0; right:12px; width:26px; height:26px; margin:-36px 0 0 0; border:1px solid $green; border-radius:50%; background-color:#fff; text-indent:-999em; cursor:pointer; }
		&__tit{position:absolute; display:inline-block; top:0; right:12px; width:26px; height:26px; margin:-35px 0 0 0; border:1px solid $green; border-radius:50%; background-color:#fff; cursor:pointer;
			& h2{position:absolute; text-indent:-99999em; top:-999em; }
			//&:focus{display:none;}
			&-bar{position:absolute;top:8px;left:0;right:0;width:13px;height:2px; margin:0 auto;background-color:$green; -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .3s;-moz-transition: .3s;-o-transition: .3s; transition: .3s;
				&2{top:12px; }
				&3{top:12px; }
				&4{top:16px;}
			}
		}
		&__list-d1 { display:none; position:absolute; right:0; top:1px; width:150px; height:auto; margin:0; padding:0; background-color:#fff;
			#{$this}.open & { display:block; }
		}
		&__item-d1 { display:block; margin-left:0; border-top:1px solid #f2f2f4; text-align:left;
			&:first-child { border-top:none; }
			&.open { color:#fff; }
		}
		&__link-d1 { height:40px; width:1%; padding:0 12px;
			#{$this}__item-d1.open & { background-color:#44b134; }
		}
		&__wrap-d2 { display:none; position:static; margin-top:0; height:auto;
			&:before { display:none; }
			&:after { display:none; }
			#{$this}__item-d1.open & { display:block; }
		}
		&__summary { display:none; }
		&__list-d2 { position:static; margin:0; height:auto; border-top:1px solid #f2f2f4; }
		&__item-d2 { display:block; width:auto; margin:0; padding-top:1px; text-align:left; color:$black-body;
			&:before { position:absolute; top:0; left:12px; right:12px; border-top:1px solid #f2f2f4; content:''; }
			&:first-child { padding-top:0; }
			&:first-child:before { display:none; }
		}
		&__link-d2 { display:table-cell; height:40px; padding:0 12px 0 22px; vertical-align:middle;
			&:after { display:none; }
		}
	}
}
.gnb-bg { position:absolute; z-index:100; left:0; right:0; height:0; background-color:#fff; padding-bottom:12px;
	&:before { position:absolute; top:0; left:0; right:0; height:11px; border-top:1px solid $green; content:''; background:url(../images/layout/header-bg-shadow.png) repeat-x; content:''; }
	&:after { position:absolute; bottom:0; left:0; right:0; height:11px; border-top:1px solid $green; background:url(../images/layout/header-bg-shadow.png) repeat-x; content:''; }
}
//btn효과
.open .gnb__tit-bar{
	&1{width:0%;right:50%;}
	&2{-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
	&3{-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
	&4{width:0%;left:50%;}
}

/* footer */
.footer { @include block; position:relative; background-color:#333; color:#bcbcbc; font-size:12px;
	.wrapper_main & { position:absolute; bottom:0; left:0; right:0; }
	&__wrap { position:relative; width:$site-width; margin-left:auto; margin-right:auto; }
	&__column { position:relative; border-bottom:1px solid #525252;
		&:after { position:absolute; bottom:0; left:0; right:0; border-bottom:1px solid #191919; content:''; }
	}
	@media only screen and (max-width:$tablet-size) {
		border-top:1px solid #e6e6e6; background-color:#fff; color:#a3a3a3;
		.wrapper_main & { position:static; }
		&__column { display:none; }
		&__wrap { width:auto; margin-left:12px; margin-right:12px; margin-bottom:5px; padding-bottom:35px; }
	}
}

.footer-logo { position:absolute; top:0; left:0; width:128px; height:34px; background:url(../images/layout/logo-footer.png) no-repeat;
	@media only screen and (max-width:$tablet-size) {
		display:none;
	}
}

.category-menu {
	.wrapper_main & { display:none; }
	&__tit { @include hidden; }
	&__list-d1 { overflow:hidden; margin:0; padding:9px 0 41px 0; list-style:none; }
	&__item-d1 { float:left; width:25%; margin-top:30px; color:#fff; line-height:1; text-transform:uppercase;
		&_4 { clear:both; }
	}
	&__list-d2 { margin:18px 0 0 0; padding:0; list-style:none; }
	&__item-d2 { color:#bcbcbc; line-height:1; text-transform:none;
		&:before { display:inline-block; margin-right:4px; content:'·'; }
		&+& { margin-top:10px; }
	}
	&__link-d2 { color:inherit; text-decoration:none;
		&:hover { text-decoration:underline; }
	}
	@media only screen and (max-width:$tablet-size) {
		display:none;
	}
}

.footer-menu { overflow:hidden; margin:34px 0 0 170px;
	&__tit { @include hidden; }
	&__list { float:left; position:relative; left:-8px ; overflow:hidden; margin:0 0 0 -1px; padding:0; list-style:none; }
	&__item { float:left; position:relative; left:1px; padding:0 8px; font-weight:$bold; line-height:1.1;
		&:before,
		&:after { position:absolute; top:0; bottom:0; height:11px; margin:auto; border-left:1px solid #2e2e2e; content:''; }
		&:before { border-color:#2e2e2e; left:0; }
		&:after { border-color:#717171; right:0; }
	}
	&__link { color:inherit; text-decoration:none; }
	@media only screen and (max-width:$tablet-size) {
		margin:5px 0 0 0;
		&__list { margin-top:5px; list:-11px; }
		&__item { margin-top:10px; padding-left:12px; padding-right:11px; font-weight:$normal;
			&:before { border-color:#e0e0e0; }
			&:after { display:none; }
		}
	}
}

.address-copyright { position:relative; left:-18px;  margin:14px 0 25px 170px;
	&__item { display:inline-block; margin-left:18px; }
	@media only screen and (max-width:$tablet-size) {
		margin:10px 0 0;
		&__item { margin-bottom:14px; margin-left:22px; }
	}
}

.sns-menu { position:absolute; bottom:0; right:0;
	$this:&;
	&__tit { @include hidden; }
	&__list { overflow:hidden; margin:0; padding:0; list-style:none; }
	&__item { float:left; margin-left:10px; }
	&__link { overflow:hidden; display:block; width:38px; height:38px; @include background-image-retina('../images/layout/layout-ico-set','png',350px,100px); background-repeat:no-repeat; text-indent:-999em;
		#{$this}__item_facebook & { background-position:0 0; }
		#{$this}__item_twitter & { background-position:-50px 0; }
		#{$this}__item_linkedin & { background-position:-100px 0; }
		#{$this}__item_youtube & { background-position:-150px 0; }
	}
}

/* content */
.content { margin-bottom:100px;
	.wrapper_main & { overflow:hidden; position:absolute; top:0; left:0; bottom:0; right:0; }
	&__wrap { position:relative; width:$site-width; margin-left:auto; margin-right:auto; }
	&__header { @include block; -webkit-box-sizing:border-box; box-sizing:border-box; margin-bottom:40px; border-bottom:1px solid #eee; vertical-align:middle; line-height:1.1;
		&_no-border { border-bottom:none; }
		&_only-m { display:none; }
	}
	&__tit { margin:23px 0 0 0; font-size:30px; font-weight:$bold; letter-spacing:-0.03em; }
	&__summary { margin:20px 0 25px; font-size:16px; line-height:1.5; }
	@media only screen and (max-width:$tablet-size) {
		.wrapper_main & { position:static; margin-bottom:0; }
		&__wrap { width:auto; margin-left:12px; margin-right:12px; }
		&__header { margin-bottom:15px; }
		&__tit { margin-top:18px; font-size:18px; }
		&__summary { margin-top:10px; margin-bottom:13px; font-size:13px; }
	}
	@media only screen and (max-width:$mobile-size) { margin-bottom:70px;
		.wrapper_main & { }
		&__header {
			&_only-m { display:block; }
		}
	}
}

.breadcrumb { position:absolute; top:0; right:0; margin:0; color:#666; line-height:1.3;
	&__item { position:relative; padding-left:20px;
		&:before { position:absolute; top:0; bottom:0; left:4px; width:12px; height:11px; margin:auto; @include background-image-retina('../images/module/breadcrumb-ico','png',12px,22px); background-repeat:no-repeat; background-position:0 -11px; content:''; vertical-align:middle; }
		&_home {
			&:before { background-position:0 0; }
		}
	}
	&__link { color:inherit; text-decoration:none;
		&:hover,
		&:focus { border-bottom:1px solid #666; }
	}


	@media only screen and (max-width:$tablet-size) {

	}
	@media only screen and (max-width:$mobile-size) {
		display:none;
	}
}

.sticky-go-to-top { position:fixed; bottom:0; left:50%;
	.wrapper_main & { display:none !important; }
	&_fixed { position:relative; bottom:auto; left:auto; }
	&__btn { position:absolute; bottom:20px; right:50%; margin-right:-570px; }
	@media only screen and (max-width:1024px) {
		left:auto; right:0;
		&_fixed { left:auto; right:auto; }
		&__btn { right:12px; margin-right:0;  }
	}
	@media only screen and (max-width:$mobile-size) {
	}
}


.social-group { margin-top:40px; color:$black-body; line-height:1.5; text-align:right;
	&__link { overflow:hidden; display:inline-block; width:32px; height:32px; text-indent:-999em; text-align:left; vertical-align:middle;
		&:before { position:absolute; display:block; width:inherit; height:inherit; @include background-image-retina('../images/layout/layout-ico-set','png',350px,100px); background-repeat:no-repeat; content:'';}
		&_f:before { background-position:0 -50px; }
		&_t:before { background-position:-50px -50px; }
		&_l:before { background-position:-100px -50px; }
	}
}
.lang-menu { position:absolute; z-index:500; top:65px; right:50%; margin-right:-500px; line-height:1.3; font-family:"Open Sans",sans-serif; color:$black-body; font-size:12px;
	$this:&;
	&__tit { @include hidden; }
	&__list { margin:0; padding:0; list-style:none; text-align:right; }
	&__item { display:none; margin-top:5px; font-weight:600;
		&:first-child { display:block; margin-top:0; }
		&.active { color:$green;}
		#{$this}__list.open & { display:block; }
	}
	&__link { color:inherit; text-decoration:none; display:inline-block;
		#{$this}__item:first-child &{
			//&:before { display:inline-block; width:5px; height:3px; margin-top:-3px; margin-right:5px; @include background-image-retina('../images/layout/layout-ico-set','png',350px,100px); background-repeat:no-repeat; background-position:-300px -20px; content:''; vertical-align:middle; }
		}
	}
	@media only screen and (max-width:$tablet-size) {
		top:28px; right:45px; margin-right:0; color:#222;
		&__list { text-align:center; background-color:#fff; border-bottom:1px solid $green;}
		&__item { -webkit-box-sizing:border-box; box-sizing:border-box; width:43px; margin-top:0; border-left:1px solid $green; border-right:1px solid $green; background-color:transparent;
			&:first-child { border:none; }
		}
		&__link { display:table-cell; width:1%; height:30px; vertical-align:middle;
			#{$this}__item:first-child &{
				height:42px;
				//&:before { position:absolute; width:0; height:0; margin-left:-12px; margin-top:0.5em; border-width:4px 3px 0 3px; border-style:solid; border-color:#222 transparent transparent transparent; background:none; }
			}
		}
	}
}
@media only screen and (max-width:$mobile-size){
	.letter-1{letter-spacing:-1px;}
}
.mr-150{margin-right:150px;}
