@charset "utf-8";
@import "mixin";

// Module
//
// 전역으로 사용되는 모듈형식의 style 정의 입니다.
//
// Styleguide 2.

// Icon
//
// Styleguide 2.1

// ico-set
//
// 이미지 스프라이트 기법으로 작성된 class입니다.
//
// .ico-set_arr-r1    - 오른쪽 방향 1
// .ico-set_arr-r2    - 오른쪽 방향 2
// .ico-set_download-v1	- 다운로드
//
// Markup:
// <a class="btn-v2"><span>More <i class="ico-set {$modifiers}"></span></i></a>
//
// Styleguide 2.1.1

.ico-set {
	&:before { display:inline-block; @include background-image-retina('../images/common/ico-set','png',100px,50px); vertical-align:middle; content:''; }
	&_arr-r1 {
		&:before { width:6px; height:10px; background-position:0 -10px; margin-top:-2px; }
	}
	&_arr-r2 {
		&:before { width:6px; height:5px; }
	}
	&_download-v1 {
		&:before { width:17px; height:14px; background-position:-10px 0; margin-top:-2px; }
	}
}

// Title
//
// Styleguide 2.2

// tit-v1
//
// 소제목에 해당되는 class 입니다.
//
// Markup:
// <h2 class="tit-v1">램시마</h2>
// <h2 class="tit-v1 {$modifiers}">허쥬마</h2>
//
// .tit-v1_next    - 특정 요소 다음에 오는 경우
//
// Styleguide 2.2.1

.tit-v1 { margin:0 0 15px 0; font-weight:$bold; font-size:24px; line-height:1.1;
	&_next { margin-top:40px; }
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:8px; font-size:15px;
		&_next { margin-top:20px; }
	}
}

// Paragraph
//
// Styleguide 2.3

// para-v1
//
// 단락에 해당되는 class입니다.
//
// Markup:
// <p class="para-v1">셀트리온의 사업목표는 무한한 도전정신 없이는 달성하기 어려운 것이며, 셀트리온 임직원은 모든 일을 함에 있어서 불굴의 도전정신을 가지고 업무에 임한다.</p>
// <p class="para-v1 {$modifiers}">셀트리온의 사업은 국내시장이 아닌 세계시장이며, 세계적인 기업과의 경쟁에서 이기기 위해 모든 임직원은 세계제일주의 사고와 그에 부흥하는 실력을 갖추어야 한다.</p>
//
// .para-v1_next    - 특정 요소 다음에 오는 경우
// .para-v1_dot    - 블릿이 있는 경우
//
// Styleguide 2.3.1

.para-v1 { margin:0; line-height:1.5; color:$black-body;
	&_next { margin-top:20px; }
	&_dot{position:relative; display:inline-block; padding-left:1em;
		&:before{position: absolute; margin-left: -1em; content: '-';}
	}
	@media only screen and (max-width:$tablet-size) {
		font-size:12px;
		&_next { margin-top:15px; }
	}
}

.para-v2 { margin:0; line-height:1.5; color:#8c8a8c; font-size:12px; }

// Button
//
// Styleguide 2.4

// btn-v1
//
// 게시판 및 서식영역에 사용되는 버튼 class입니다.
//
// .btn-v1_w180    - 너비가 180px 버튼
// .btn-v1_w200    - 너비가 200px 버튼
// .btn-v1_negative    - 취소버튼
//
// Markup:
// <a class="btn-v1 {$modifiers}"><span>문의하기</span></a>
// <button class="btn-v1 {$modifiers}"><span>문의하기</span></button>
//
// Styleguide 2.4.1

.btn-v1 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; height:50px; padding:0 10px; margin:0; border:2px solid #3f3f3f; background-color:#fff; color:#3f3f3f; font-size:16px; font-weight:$bold; cursor:pointer; vertical-align:middle; text-align:center;
	&+& { margin-left:6px; }
	&_w180 { width:180px; }
	&_w200 { width:200px; }
	&_negative { border:1px solid #e7e3e7; background-color:#f9f9f9; }
	@media only screen and (max-width:$mobile-size) {
		height:40px;
		&_w180 { width:90px; }
		&_w200 { width:100px; }
	}
}
a.btn-v1 { text-decoration:none;
	&>span { display:table-cell; vertical-align:middle; height:46px; }
	&[class*='btn-v1_w']>span { width:1%; }
	@media only screen and (max-width:$mobile-size) {
		&>span { height:36px; }
	}
}
button.btn-v1{
	&:active>span,
	&:focus>span { position:relative; left:0; top:0; }
}

// btn-v2
//
// 컨텐츠 내 사용되는 버튼 class입니다.
//
// Markup:
// <a class="btn-v2"><span>more</span></a>
// <button class="btn-v2"><span>more</span></button>
//
// Styleguide 2.4.2

.btn-v2 { display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:5px 12px; border:1px solid #9e9e9e; background-color:#fff;  font-size:13px; color:$black-tit; text-transform:uppercase; text-decoration:none; line-height:1.3; font-weight:$bold; vertical-align:middle; cursor:pointer;
	@media only screen and (max-width:$mobile-size) {
		font-size:12px;
	}
}
a.btn-v2 {
	&>span { display:table-cell; vertical-align:middle; }
	&[class*='btn-v1_w']>span { width:1%; }
}
button.btn-v2{
	&:active>span,
	&:focus>span { position:relative; left:0; top:0; }
}

// Tab
//
// Styleguide 2.5

// tab-v1
//
// 간단한 스크립트와 작동되는 반응형 디자인 탭입니다.
//
// Markup:
// <div class="tab-v1">
//     <button type="button" title="같은 레벨 메뉴 보기" class="tab-v1__btn-toggle tabBtn">현재가</button>
//     <ul class="tab-v1__list">
//         <li class="tab-v1__item on"><a href="#" class="tab-v1__link">현재가</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">시간대별</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">일자별</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">차트분석</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">지수정보</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">외국인 지분동향</a></li>
//     </ul>
// </div><!-- //tab-v1 -->
// <br>
// <div class="tab-v1">
//     <button type="button" title="같은 레벨 메뉴 보기" class="tab-v1__btn-toggle tabBtn">1공장</button>
//     <ul class="tab-v1__list">
//         <li class="tab-v1__item on"><a href="#" class="tab-v1__link">1공장</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">2공장</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">사무동</a></li>
//     </ul>
// </div><!-- //tab-v1 -->
//<script type="text/javascript">
//	$(function(){
//		$('.tabBtn').on('click', function(){
//			if($(this).hasClass('open')){
//				$(this).next().slideUp().end().removeClass('open');
//			} else {
//				$(this).next().slideDown().end().addClass('open');
//			}
//		});
//	});
//</script>
//
// Styleguide 2.5.1

.tab-v1 {
	$this:&;
	$item:#{$this}__item;
	&__list { margin:0; padding:0; list-style:none; border-collapse:collapse; }
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; display:table-cell; width:1%; height:50px; border:1px solid #d5d5d5; background-color:#f8f8f8; color:$black-tit; font-size:15px; text-align:center; vertical-align:middle;
		&.on { border-top:none; border-bottom:none; background-color:#fff; }
	}
	&__link { -webkit-box-sizing:border-box; box-sizing:border-box; display:table-cell; width:1000px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle;
		#{$item}.on & { border-top:3px solid #222; padding-bottom:3px; font-weight:$bold; }
	}
	&__btn-toggle { display:none; cursor:pointer; }
	@media only screen and (max-width:$tablet-size) {
		&__list { display:none; position:absolute; z-index:500; }
		&__item { display:block; width:auto; height:40px; border-top:1px solid #fff; background-color:#dcdcdc; font-size:15px; text-align:left;
			&:first-child { border-top:none; }
			&.on { border-top:1px solid #fff; background-color:#dcdcdc; }
		}
		&__link { padding:10px;
			#{$item}.on & { border-top:none; padding:10px; font-weight:$normal; }
		}
		&__btn-toggle { position:relative; -webkit-box-sizing:border-box; box-sizing:border-box; display:block; width:100%; height:40px; margin:0; padding:10px 36px 10px 10px; border:none; background-color:#222; color:#fff; font-size:15px; text-align:left;
			&:before,
			&:after { position:absolute; top:0; bottom:0; right:10px; height:0; margin:auto; border-width:8px 8px 0 8px; border-style:solid; content:'';  }
			&:before { border-color:#fff transparent transparent transparent;  }
			&:after { top:-4px; border-color:#222 transparent transparent transparent;  }
		}
	}
	@media only screen and (min-width:$tablet-size+1) {
		&__list { display:block !important; }
	}
}

// tab-v2
//
// radio 디자인형태의 탭입니다
//
// .tab-v2_next    - 특정 요소 다음에 오는 경우
//
// Markup:
// <ul class="tab-v2 {$modifiers}">
// 	<li class="tab-v2__item on"><a href="#" class="tab-v2__link">Non-consolidated Statements of Financial Position </a></li>
// 	<li class="tab-v2__item"><a href="#" class="tab-v2__link">연결재무상태표</a></li>
// </ul><!-- //tab-v2 -->
//
// Styleguide 2.5.2

.tab-v2 { margin:0 0 0 -30px; padding:0; list-style:none; font-size:0;
	$this:&;
	$item:#{$this}__item;
	&_next { margin-top:30px; }
	&__item { display:table-cell; padding-left:30px; color:$black-body; font-size:14px; font-weight:$bold;
		&:first-child { margin-left:0; }
		&.on { color:$black-tit; }
		&:before { -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; z-index:-1; display:inline-block; width:16px; height:16px; margin-top:1px; border:1px solid #d2d2d2; border-radius:50%; background-color:#fff; content:''; vertical-align:middle; }
	}
	&__link { display:block; padding-left:20px; color:inherit; text-decoration:none;
		#{$item}.on &:before { position:absolute; width:6px; height:6px; margin:6px 0 0 -15px; border-radius:50%; background-color:#5f5f5f; content:''; }
	}
}

.edge-box { margin-bottom:5px; text-align:right; }

// List
//
// Styleguide 2.6

// dl-v1
//
// 서식양식에 사용되는 정의형 목록입니다.
//
// Markup:
// <dl class="dl-v1">
//    <dt class="dl-v1__dt">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
//    <dt class="dl-v1__dt">질문 ㅇㅇㅇㅇ</dt>
//    <dd class="dl-v1__dd">답변 ㅇㅇㅇㅇㅇㅇ</dd>
//    <dt class="dl-v1__dt">질문 ㅁㅁ</dt>
//    <dd class="dl-v1__dd">답변 ㅁㅁ</dd>
//    <dt class="dl-v1__dt dl-v1__dt_fixed">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
// </dl><!-- //dl-v1 -->
//
// Styleguide 2.6.1


.dl-v1 { margin:0; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c;
	&__dt { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; clear:left; padding:9px 20px 0 20px; border-top:1px solid #e7e3e7; line-height:32px; color:$black-tit; font-weight:$bold;
		&_fixed { float:none; }

	}
	&__dd { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:9px 20px; line-height:32px; border-top:1px solid #e7e3e7; color:$black-body; }
	&__dt:first-child,
	&__dt:first-child+&__dd,
	&__dd:first-child,
	&__dt_fixed+&__dd { border-top:none; }
	&__item { display:inline-block; vertical-align:top; }
	@media only screen and (max-width:$mobile-size) {
		&__dt { float:none; margin-right:0; padding:10px 0 0 0; border-top:1px solid #e7e3e7; line-height:1.3;
			&:first-child { border-top:none; }
		}
		&__dd { margin:5px 0; padding:0; border-top:none; }
		&__item { display:block;
			&+& { margin-top:5px; }
		}
	}
}

// Pagination
//
// Styleguide 2.7

// pagination-v1
//
// 공통으로 사용되는 반응형 페이징입니다.
//
// 기본 `margin-top:40px`이 적용되어 있습니다.
//
// Markup:
// <div class="pagination-v1">
//     <div class="pagination-v1__info"><span class="pagination-v1__location">1</span>/10</div>
//     <span class="pagination-v1__group pagination-v1__group_prev">
//         <a href="#" class="pagination-v1__item pagination-v1__item_home">처음</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_prev">10페이지 이전</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_before">이전</a>
//     </span>
//     <span class="pagination-v1__group">
//         <a href="#" class="pagination-v1__item">1</a>
//         <a href="#" class="pagination-v1__item">2</a>
//         <a href="#" class="pagination-v1__item on">3</a>
//         <a href="#" class="pagination-v1__item">4</a>
//         <a href="#" class="pagination-v1__item">5</a>
//         <a href="#" class="pagination-v1__item">6</a>
//         <a href="#" class="pagination-v1__item">7</a>
//         <a href="#" class="pagination-v1__item">8</a>
//         <a href="#" class="pagination-v1__item">9</a>
//         <a href="#" class="pagination-v1__item">10</a>
//     </span>
//     <span class="pagination-v1__group pagination-v1__group_next">
//         <a href="#" class="pagination-v1__item pagination-v1__item_after">다음</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_next">10페이지 다음</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_end">마지막</a>
//     </span>
// </div><!-- //pagination-v1 -->
//
// Styleguide 2.7.1

.pagination-v1 { overflow:hidden; position:relative; margin-top:40px; text-align:center; font-size:0;
	&__info { display:none; line-height:34px; color:#999; font-size:13px; }
	&__location { color:$black-tit;}
	&__group { display:inline-block; text-align:center; vertical-align:middle; }
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; min-width:34px; height:34px; margin:0 4px; border:1px solid #e6e6e6; font-size:12px; color:#999; text-decoration:none; line-height:32px;
		&.on { border-color:#8c8a8c; background-color:#8c8a8c; color:#fff; }
		@mixin ico ($position) { overflow:hidden; position:relative; width:34px; text-indent:-1000em;
			&:before { position:absolute; top:0; left:0; right:0; bottom:0; width:11px; height:9px; margin:auto; @include background-image-retina('../images/module/pagination-v1-ico','png',22px,18px); background-repeat:no-repeat; background-position:$position; content:''; }
		}
		&_home { @include ico(0 0) }
		&_end { @include ico(100% 100%) }
		&_before { display:none; @include ico(100% 0) }
		&_after { display:none; @include ico(0 100%) }
		&_prev { @include ico(100% 0) }
		&_next { @include ico(0 100%) }
	}
	@media only screen and (max-width:$mobile-size) {
		margin-top:20px;
		&__info { position:absolute; top:0; left:0; right:0; display:block; }
		&__group { display:none; position:relative; z-index:10;
			&_prev { display:block; float:left; margin-left:-4px; }
			&_next { display:block; float:right; margin-right:-4px; }
		}
		&__item { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; min-width:34px; height:34px; margin:0 4px; border:1px solid #e6e6e6; font-size:12px; color:#999; text-decoration:none; line-height:32px;
			&_before,
			&_after { display:inline-block; }
			&_prev,
			&_next { display:none; }
		}
	}
}


// Board
//
// 게시판에 사용되는 style 정의 입니다.
//
// Styleguide 2.8

// board-headline-v1
//
// 헤드라인 게시물입니다.
//
// Markup:
// <div class="board-headline-v1">
//     <div class="board-headline-v1__item">
//         <div class="board-headline-v1__img-wrap">
//             <a href="#" class="link"><img src="https://i.ytimg.com/vi/-IHVEL40kig/hqdefault.jpg" alt="" class="board-headline-v1__img"></a>
//         </div>
//         <div class="board-headline-v1__txt-wrap">
//             <div class="board-headline-v1__tit"><a href="" class="link">유럽 류마티스학회 공식 프로그램에서 임상결과 발표 유럽 류마티스학회 공식 프로그램에서 임상결과 발표 유럽 류마티스학회 공식 프로그램에서 임상결과 발표</a></div>
//             <div class="board-headline-v1__edge">2015.08.08</div>
//             <div class="board-headline-v1__summary">
//                 세계 최초 항체 바이오시밀러 ‘램시마(Remsima)’가 국내에서 본격적인 판매에 들어갔다. 램시마의 국내판매를 맡고 있는 셀트리온제약은 지난 11월 2일 오후 서울 밀레니엄힐튼호텔에서 류마티스 내과 전문의 대상으로 ‘램시마’ 발매를 기념하는 학술심포지엄을 열었다. 이번 심포지엄에서는 임상 1, 3상 시험 결과와 생물학적동등성시험 결과가 발표됐다. 인하대의대 박원교수, 한양대의대 유대현 교수 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한 성황리에 진행됐다. 세계 최초 항체 바이오시밀러 ‘램시마(Remsima)’가 국내에서 본격적인 판매에 들어갔다. 램시마의 국내판매를 맡고 있는 셀트리온제약은 지난 11월 2일 오후 서울 밀레니엄힐튼호텔에서 류마티스 내과 전문의 대상으로 ‘램시마’ 발매를 기념하는 학술심포지엄을 열었다. 이번 심포지엄에서는 임상 1, 3상 시험 결과와 생물학적동등성시험 결과가 발표됐다. 인하대의대 박원교수, 한양대의대 유대현 교수 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한 성황리에 진행됐다.
//             </div>
//         </div>
//     </div>
// </div><!-- //board-headline-v1 -->
//
// Styleguide 2.8.1

.board-headline-v1 { overflow:hidden; margin-bottom:20px; line-height:1.5; color:$black-body; font-size:13px;
	&__item { }
	&__img-wrap { overflow:hidden; float:left; position:relative; width:320px; height:180px; border:1px solid #dedfde; margin-right:30px; }
	&__txt-wrap { overflow:hidden; height:180px; @include ellipsis(22px); }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
	&__tit { overflow:hidden; margin-bottom:5px; font-size:24px; color:$black-tit; font-weight:$bold; line-height:1.3; white-space:nowrap; text-overflow:ellipsis; }
	&__edge { color:#999; }
	&__summary { clear:both; overflow:hidden; height:9em; margin-top:20px; line-height:1.65; }
	@media only screen and (max-width:$mobile-size) {
		&__img-wrap { float:none; width:auto; height:0; margin-right:0; margin-bottom:10px; padding-bottom:56.2%; }
		&__txt-wrap { height:auto; }
		&__img { width:100%; }
		&__tit { font-size:15px; margin-bottom:10px; }
		&__summary { @include line-clamp(6); margin-top:10px; line-height:1.5; }
	}
}

// board-headline-v2
//
// 동영상, 브로슈어 게시판의 헤드라인 게시물입니다.
//
// 동영상, 브로슈어 게시판 3단 비율과 동일 비율 유지하기 위해 %로 작업되어 있습니다. (동영상 영역 66%, 컨텐츠 영역 33%)
//
// .board-headline-v2_another    - 높이가 더 높은 브로슈어 게ㅐ시판에 사용되는 추가 class 입니다.
//
// Markup:
// <div class="board-headline-v2 {$modifiers}">
//     <div class="board-headline-v2__item">
//         <div class="board-headline-v2__img-wrap">
//             <div class="board-headline-v2__wrap">
//                 <iframe width="660" height="380" src="https://www.youtube.com/embed/Kg0e26Bop-g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen class="board-headline-v2__img board-headline-v2__img_video"></iframe>
//             </div>
//         </div>
//         <div class="board-headline-v2__txt-wrap scroll-v1">
//             <div class="board-headline-v2__tit">유럽 류마티스학회 공식 프로그램에서 임상결과 발표 유럽 류마티스학회 공식 프로그램에서 임상결과 발표 유럽 류마티스학회 공식 프로그램에서 임상결과 발표</div>
//             <div class="board-headline-v2__edge">2015.08.08</div>
//             <div class="board-headline-v2__summary scroll-v1">
//                 세계 최초 항체 바이오시밀러 ‘램시마(Remsima)’가 국내에서 본격적인 판매에 들어갔다. 램시마의 국내판매를 맡고 있는 셀트리온제약은 지난 11월 2일 오후 서울 밀레니엄힐튼호텔에서 류마티스 내과 전문의 대상으로 ‘램시마’ 발매를 기념하는 학술심포지엄을 열었다. 이번 심포지엄에서는 임상 1, 3상 시험 결과와 생물학적동등성시험 결과가 발표됐다. 인하대의대 박원교수, 한양대의대 유대현 교수 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한 성황리에 진행됐다. 세계 최초 항체 바이오시밀러 ‘램시마(Remsima)’가 국내에서 본격적인 판매에 들어갔다. 램시마의 국내판매를 맡고 있는 셀트리온제약은 지난 11월 2일 오후 서울 밀레니엄힐튼호텔에서 류마티스 내과 전문의 대상으로 ‘램시마’ 발매를 기념하는 학술심포지엄을 열었다. 이번 심포지엄에서는 임상 1, 3상 시험 결과와 생물학적동등성시험 결과가 발표됐다. 인하대의대 박원교수, 한양대의대 유대현 교수 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한 성황리에 진행됐다.
//             </div>
//         </div>
//     </div>
// </div><!-- //board-headline-v2 -->
//
// Styleguide 2.8.2

.board-headline-v2 { overflow:hidden; position:relative; color:$black-body; line-height:1.5; margin-bottom:50px;
	$this:&;
	&_another { }
	&__item { margin-left:-20px; }
	@include img-wrap();
	&__img-wrap { float:left; -webkit-box-sizing:border-box; box-sizing:border-box; width:66.66%; height:380px; margin-right:20px; padding-left:20px;
		#{$this}_another & { height:480px; }
	}
	&__wrap { position:relative;height:100%;
		iframe { position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; margin:auto; }
	}
	&__txt-wrap { overflow:auto; display:block; @include flexbox; @include flex-direction(column); height:380px;
		#{$this}_another & { height:480px; }
	}
	&__tit { font-size:20px; color:$black-tit; font-weight:$bold; }
	&__edge { margin-top:5px; color:#999; }
	&__summary { overflow:auto; margin-top:30px; text-align:justify; }
	&__btn { display:block; color:$black-body; text-decoration:none; margin-top:40px;
		&>span { -webkit-box-sizing:border-box; box-sizing:border-box; display:table-cell; width:1%; height:40px; border:1px solid #ddd; text-align:center; vertical-align:middle; }
	}
	@media only screen and (max-width:$tablet-size) { margin-bottom:25px;
		&__item { margin-left:0; }
		&__img-wrap { float:none; width:auto; height:0; padding-bottom:57.62%; margin-right:0; padding-left:0;
			#{$this}_another & { height:0; padding-bottom:75%; }
		}
		&__txt-wrap { height:auto; margin-top:15px;
			#{$this}_another & { height:auto; }
		}
		&__wrap { position:static; }
		&__tit { font-size:13px; }
		&__summary { height:9em; margin-top:15px; }
		&__btn { margin-top:20px; }
	}
}

// board-list-v1
//
// ㅇ
//
// #### 테이블 셀 관련 class ####
//
// * .board-list-v1__td_align-left : 좌측정렬
// * .board-list-v1__td_wrap : 줄바꿈 방지 해제
// * .board-list-v1__td_break-all : 어간 줄바꿈 해제
//
// #### 반응형 관련 class ####
//
// * .board-list-v1__m-hide : 모바일 변환 시 디자인 숨김
// * .board-list-v1__m-tit : 모바일 전환 시 제목 디자인 적용
// * .board-list-v1__m-left : 모바일 전환 시 왼측으로 적용
// * .board-list-v1__m-right : 모바일 전환 시 오른측으로 적용
//
// Markup:
// <table class="board-list-v1 board-recruit">
//     <colgroup>
//         <col class="board-recruit__num">
//         <col class="board-recruit__section">
//         <col class="board-recruit__title">
//         <col class="board-recruit__date">
//         <col class="board-recruit__state">
//     </colgroup>
//     <thead>
//         <tr>
//             <th class="board-list-v1__th" scope="col">번호</th>
//             <th class="board-list-v1__th" scope="col">구분</th>
//             <th class="board-list-v1__th" scope="col">제목</th>
//             <th class="board-list-v1__th" scope="col">게시일</th>
//             <th class="board-list-v1__th" scope="col">진행사항</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td class="board-list-v1__td board-list-v1__m-hide">10</td>
//             <td class="board-list-v1__td board-list-v1__m-hide">Celltrion Group</td>
//             <td class="board-list-v1__td board-list-v1__td_wrap board-list-v1__m-tit board-list-v1__td_align-left"><a href="#" class="bbs-link board-list-v1__link">제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다.</a></td>
//             <td class="board-list-v1__td board-list-v1__m-left" data-title="게시일 : ">2015.08.08~2016.01.25</td>
//             <td class="board-list-v1__td board-list-v1__m-right" data-title="진행사항 : ">채용</td>
//         </tr>
//         <tr>
//             <td class="board-list-v1__td board-list-v1__m-hide">10</td>
//             <td class="board-list-v1__td board-list-v1__m-hide">Celltrion Group</td>
//             <td class="board-list-v1__td board-list-v1__td_wrap board-list-v1__m-tit board-list-v1__td_align-left"><a href="#" class="bbs-link board-list-v1__link">제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다.</a></td>
//             <td class="board-list-v1__td board-list-v1__m-left" data-title="게시일 : ">2015.08.08~2016.01.25</td>
//             <td class="board-list-v1__td board-list-v1__m-right" data-title="진행사항 : ">채용</td>
//         </tr>
//     </tbody>
// </table><!-- //board-list-v1 -->
//
// Styleguide 2.8.3

.board-list-v1 { width:100%; border-collapse:collapse; border-top:2px solid #8C8A8D; border-bottom:1px solid #8c8a8c; white-space:nowrap; line-height:1.5;
	&__th { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; padding:5px 10px; border-bottom:1px solid #8c8a8c; text-align:center; font-weight:$bold; }
	&__td { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; padding:5px 10px; border-top:1px solid #dedfde; text-align:center; text-overflow:ellipsis; color:$black-body;
		&_align-left { text-align:left; }
		&_wrap { white-space:normal;}
		&_break-all { word-break:break-all;}
	}
	&__link { display:inline-block; text-overflow:ellipsis; vertical-align:middle; height:1.5em; white-space:normal; overflow:hidden; color:inherit; text-decoration:none;
		&:hover,
		&:focus  { text-decoration:underline; }
	}
	@media only screen and (max-width:$tablet-size) {
		display:block; position:relative; border-top-width:1px;
		&:before { position:absolute; z-index:10; top:0; left:0; right:0; border-top:1px solid #8C8A8D; content:''; }
		thead, tbody, tr { display:block; }
		tr { overflow:hidden; position:relative; }
		&__th { display:none; }
		&__td { height:auto; padding:10px 0; font-size:12px;
			&[data-title]:before {  content:attr(data-title); }
		}
		&__m-hide { display:none; }
		&__m-tit { float:left; width:100%; display:block; font-weight:$bold; font-size:13px; }
		&__m-left { float:left; display:block; margin-top:-3px; padding-top:0px; border:none; }
		&__m-right { float:right; display:block; margin-top:-3px; padding-top:0px; border:none; }
		&__link {
			&:before { position:absolute; top:0; left:0; right:0; bottom:0; content:''; }
			&:hover,
			&:focus  { text-decoration:none; }
		}
	}
}

.board-list-v2 { margin:0; padding:0; list-style:none; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	$this:&;
	&__item { border-top:1px solid #dedfde;
		&:first-child { border-top:none; }
		&_notice { }
	}
	&__header { padding:15px 20px;
		#{$this}__item_notice &:before { display:table-cell; width:1%; padding:0 5px; border-radius:3px; background-color:$purple; color:#fff; content:'공지'; font-size:12px; vertical-align:middle; }
	}
	&__body { padding:12px 20px; border-top:1px dashed #dedfde; }
	&__cell { display:table-cell; vertical-align:middle;
		&_edge { width:1%; padding-left:10px; }
	}
	&__tit { margin:0; color:$black-tit; height:1.3em; overflow:hidden; @include ellipsis(18px);
		#{$this}__item_notice & { font-weight:$bold; margin-left:5px; }
	}
	&__summary { overflow:hidden; height:3em; margin:0; line-height:1.5; vertical-align:middle; @include ellipsis(18px) }
	&__btn { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:120px; height:30px; padding:6px 0; border:1px solid #ddd; background-color:#fff; text-align:center; text-decoration:none; color:inherit; }
	@media only screen and (max-width:$mobile-size) { font-size:12px;
		&__header { padding:8px 0;
			#{$this}__item_notice &:before { font-size:11px; }
		}
		&__body { padding:5px 0; }
		&__link { display:inline-block; width:100%; }
	}
}

/* Board Magazine */
.board-magazine-v1 { margin:0; padding:0; list-style:none; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.5;
	&__item { border-top:1px solid #dedfde;
		&:first-child { border-top:none; }
	}
	&__link { overflow:hidden; display:block; padding:20px 0; color:$black-body; text-decoration:none;
		&:hover {

		}
	}
	&__img-wrap { overflow:hidden;float:left; position:relative; width:200px; height:100px; border:1px solid #dedfde; margin-right:35px; }
	&__txt-wrap { overflow:hidden; position:relative; height:100px; @include ellipsis(22px); }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
	&__tit { display:table-cell; padding-bottom:15px; font-size:16px; color:$black-tit; font-weight:$bold; }
	&__edge { display:table-cell; width:1%; padding-left:10px; color:#999; text-align:right; }
	&__summary { clear:both; overflow:hidden; height:4.5em; text-align:justify; }
	@media only screen and (max-width:$mobile-size) { line-height:1.3;
		&__link { padding-top:15px; padding-bottom:15px; }
		&__img-wrap { width:100px; height:50px; margin-right:10px; }
		&__txt-wrap { height:50px;
			&:after { display:none; }
		}
		&__tit { overflow:hidden; display:block; position:relative; height:2.6em; padding-bottom:0; font-size:13px; @include ellipsis(18px); }
		&__edge { display:block; position:absolute; bottom:-3px; left:0; width:auto; padding-left:0; font-size:12px; }
		&__summary { display:none; }
	}
}

/* Board Gallery */
.board-gallery-v1 { overflow:hidden; position:relative; margin:0 0 0 -20px; padding:0; list-style:none; color:$black-body; line-height:1.3;
	&:before { display:block; margin-left:20px;border-top:1px solid #ddd; content:'' }
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:33.33333%; margin-top:30px; padding-left:20px; }
	&__link { overflow:hidden; display:block; text-decoration:none; color:inherit; }
	&__img-wrap { -webkit-box-sizing:border-box; box-sizing:border-box; height:0; padding-bottom:56.25%; border:1px solid #ddd; }
	@include img-wrap;
	&__txt-wrap { overflow:hidden; margin-top:15px; white-space:nowrap; text-overflow:ellipsis; }
	@media only screen and (max-width:$mobile-size) { margin-left:0; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c;
		&:before { display:none; }
		&__item { float:none; width:auto; margin-top:0; padding:15px 0; border-top:1px solid #dedfde;
			&:first-child { border-top:none; }
		}
		&__img-wrap { float:left; width:87px; height:50px; margin-right:10px; padding-bottom:0; }
		&__txt-wrap { overflow:hidden; margin-top:0; @include line-clamp(2); height:3em; line-height:1.5; font-weight:$bold; }
	}
}

/* Board View */
.board-view-v1 { border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	&__header { border-bottom:1px solid #dedfde; @include block; }
	&__body { padding:30px 50px; text-align:justify; line-height:1.6;
		img, object,embed { max-width:100%; }
		p { margin:0; }
		&+.social-group { margin-top:0; }
	}
	&__footer { border-top:1px solid #8c8a8c;
		.social-group+& { margin-top:30px; }
	}
	&__tit { border-bottom:1px solid #8c8a8c; margin:0 0 -1px 0; padding:14px 10px; font-size:16px; line-height:1.3125; color:$black-tit;}
	&__etc { margin-top:1px; padding:17px 10px;
		&_l { float:left; }
		&_r { float:right; }
	}
	&__prev,
	&__next { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; position:relative; height:50px; padding:17px 10px 17px 50px; white-space:nowrap; text-overflow:ellipsis;
		&:before { position:absolute; top:0; bottom:0; left:20px; width:12px; height:7px; margin:auto; @include background-image-retina('../images/module/board-view-v1-ico','png',12px,14px); background-repeat:no-repeat; content:''; }
	}
	&__next { border-top:1px solid #dedfde;
		&:before { background-position:0 -7px; }
	}

	@media only screen and (max-width:$mobile-size) {
		&__body { padding:15px 0; }
		&__tit { font-size:13px; padding:6px 0; line-height:1.3; }
		&__etc { padding:7px 0; font-size:12px; }
		&__prev,
		&__next { height:30px; padding:6px 10px 6px 30px;
			&:before { left:10px; }
		}
	}
}

.board-btn-wrap { text-align:right;
	&_next { margin-top:30px; }
	@media only screen and (max-width:$mobile-size) {
		&_next { margin-top:15px; }
	}
}

/* Table */
.table-row-v1 { width:100%; position:relative; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; border-collapse:collapse; color:$black-body;
	&__th { padding:16px 28px; border-top:1px solid #e7e3e7; background-color:#f9f9f9; color:$black-tit; vertical-align:top; text-align:left; font-weight:$bold; /* white-space:nowrap;  */}
	&__td { padding:9px 19px; border-top:1px solid #e7e3e7; }
	&__th+&__td,
	&__td+&__th { border-left:1px solid #e7e3e7; }

	@media only screen { border-top:1px solid #8c8a8c; border-bottom:none;
		&:before { display:table; position:absolute; top:0; left:0; width:100%; border-top: 2px solid #8c8a8c; content: '';}
		&:after { display:table; position:absolute; bottom:0; left:0; width:100%; border-bottom: 1px solid #8c8a8c; content: '';}
		&__th,
		&__td { border-bottom:1px solid #e7e3e7; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th { padding:12px 10px; }
		&__td { padding:5px 10px;
			&:last-child { padding-right:0; }
		}
	}
}
.table-col-v1-wrap { overflow:auto; }
.table-col-v1 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	&__th { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-bottom:1px solid #8c8a8c; text-align:center; font-weight:$bold; color:$black-tit; }
	&__td { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-top:1px solid #dedfde; text-align:center;
		&_text-right { padding-right:18px; text-align:right; }
		&_total { font-weight:$bold; color:$black-tit; border-top:1px solid #666; border-bottom:1px solid #666; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__th,
		&__td { height:25px; }
	}
}
.table-col-v1-header { position:relative; margin-bottom:18px; line-height:1.3;
	&_next { margin-top:34px; }
	&__tit { margin:0; font-size:16px; color:$black-tit; font-weight:$normal; }
	&__edge { position:absolute; right:0; bottom:-10px; font-size:12px; line-height:1.7; }
	@media only screen and (max-width:$tablet-size) {
		overflow:hidden; margin-bottom:9px;
		&__tit { float:left; font-size:13px; }
		&__edge { float:right; position:static; bottom:0; line-height:1.4; }
	}
}
.table-col-v1-footer { margin-top:5px; font-size:12px; text-align:right; color:$black-body;
	&__para { margin:0; }
}

.table-col-v2 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c;
	&__th,
	&__td { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-left:1px solid #e7e3e7; border-bottom:1px solid #e7e3e7; text-align:center; font-weight:$normal;
		&:first-child { border-left:none; }
		&[rowspan] { border-right:1px solid #e7e3e7; }
		&[rowspan]+& { border-right:none; }
	}
	&__th { background-color:#f9f9f9; font-weight:$bold; color:$black-tit; }
	&__td { color:$black-body;
		&_text-right { padding-right:30px; text-align:right; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th,
		&__td { height:40px; font-size:11px; }
		&__td {
			&_text-right { padding-right:3px; }
		}
	}
}

.table-col-v3 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c; border-bottom:1px solid #666; color:$black-body;
	$this:&;
	&__th,
	&__td { height:50px; text-align:center; }
	&__th { font-weight:$bold; color:$black-tit; border-bottom:1px solid #8c8a8c; }
	&__td { border-top:1px solid #dedfde;
		#{$this} tbody tr:nth-child(odd) & { background-color:#f9f9f9; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th,
		&__td { height:40px; font-size:12px; }
	}
}


/* Board Search */
.board-search-v1 { margin-bottom:15px; text-align:right;
	&__input { width:330px; margin-left:10px; -webkit-transition:width .5s; transition:width .5s; }
	&__submit { margin-left:-1px; width:32px; height:32px; }
	@media only screen and (max-width:$mobile-size) {
		&__input { width:120px; }
	}
}
/* 약관동의 */
.agree-box { color:$black-tit; line-height:1.3;
	&__tit { margin:0 0 18px 0; font-size:16px; }
	&__body { padding:9px 14px; border:1px solid #dedfde; background-color:#fafafa; }
	&__footer { margin-top:15px; }
}

.agree-article { line-height:1.5; color:$black-body;
	&__tit { margin:0 0 9px 0; font-size:16px; color:$black-tit; line-height:1.1;
		&_next { margin-top:24px; }
	}
	&__para { margin:0;
		&_next { margin-top:24px; }
		&.type-another{line-height:2;}
	}
	&__signature { font-weight:$bold; text-align:right; }
	strong { color:$black-tit; }
}
