@charset "utf-8";
@import "mixin";

/* 경영철학 */
.about-philosophy { overflow:hidden;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:33.33%;
		&_another { display:inline-block; clear:both; float:none; width:auto; margin-top:50px; }
	}
	&__text { display:block; }
	@media only screen and (max-width:$mobile-size) {
		&__item { float:none; width:auto;
			&+& { margin-top:22px; }
		}
		&__text { display:inline-block; }
	}
}
/* 경영원칙 */
.about-principle { overflow:hidden; margin-top:38px;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:25%; padding-right:20px;
		&:before { display:block; width:136px; height:136px; margin-bottom:19px; background:url(../images/about/about-001-principle-bg.png) no-repeat; content:''; }
		&_1:before { background-position:0 0;}
		&_2:before { background-position:0 -136px;}
		&_3:before { background-position:0 -272px;}
		&_4:before { background-position:0 -408px;}
	}
	&__tit { margin:0 0 15px 0; color:$black-tit; font-weight:$normal; font-size:16px; line-height:1.3; }
	@media only screen and (max-width:$tablet-size) {
		margin-top:22px;
		&__item { float:none; width:auto;
			&+& { margin-top:30px;}
			&:before { position:absolute; width:61px; height:61px; margin-bottom:0; background-image:url(../images/about/about-001-principle-bg@2x.png); -webkit-background-size:cover; background-size:cover; }
			&_1:before { background-position:0 0;}
			&_2:before { background-position:0 -61px;}
			&_3:before { background-position:0 -122px;}
			&_4:before { background-position:0 -183px;}
		}
		&__tit { margin-bottom:5px; font-size:13px; }
		&__wrap { display:table-cell; width:1%; height:61px; padding-left:71px; vertical-align:middle; }
	}
}

/* CEO 인사말 */
//.about-greeting { @include block; position:relative; height:348px; margin-bottom:48px; border-bottom:2px solid #61409b; color:$black-tit; line-height:1.5;
//	&__summary { margin:70px 0 0 0; font-size:20px; }
//	&__signature { margin:66px 0 0 0; font-size:16px; }
//	&__img-wrap { position:absolute; z-index:-1; top:0; bottom:0; right:0; text-align:right; }
//	&__img { max-width:100%; max-height:100%; }
//	@media only screen and (max-width:$tablet-size) {
//		height:233px; margin-bottom:24px;
//		&__summary { margin-top:0; font-size:13px; }
//		&__signature { margin-top:35px; font-size:13px; }
//	}
//	@media only screen and (max-width:$mobile-size) {
//		&__img-wrap { top:auto; }
//		&__img { max-width:none; width:373px; }
//	}
//}

/* 산업전략 */
.about-strategy { overflow:hidden; min-height:594px; margin:0; padding:0; list-style:none; counter-reset:step; text-align:justify; background:url(../images/about/about-003-strategy-bg.png) no-repeat; background-position:bottom;
	$this : &;
	&:after { display:inline-block; width:100%; content:''; }
	&__item { display:inline-block; position:relative; width:200px; height:200px; padding:0px 5px; box-sizing:border-box; vertical-align:top;
		&:before { display:block; position:relative; z-index:2; padding-top:48px; content:'Step ' counter(step,decimal-leading-zero); counter-increment:step; text-transform:uppercase; color:$black-tit; text-align:center; font-family:arial, sans-serif; font-size:16px; }
		&:after { position:absolute; top:0; left:0; width:200px; height:200px; background:url(../images/about/about-003-strategy-cycle.png) no-repeat; content:''; }
		&_1 { margin-top:271px;
			&:after { background-position:0 0; }
		}
		&_2 { margin-top:221px;
			&:after { background-position:0 -200px; }
		}
		&_3 { margin-top:171px;
			&:after { background-position:0 -400px; }
		}
		&_4 { margin-top:121px;
			&:after { background-position:0 -600px; }
		}
	}
	&__para { position:relative; z-index:1; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0px 5px; font-size:13px; font-weight:$bold; text-align:center; line-height:1.5; color:$black-tit;
		&:before { display:block; width:18px; margin:15px auto; border-top:1px solid #333; content:''; }
	}
	&__text { font-size:12px; font-weight:$normal; }
	&__sub-list { position:absolute; top:0; left:96px; z-index:50; margin:0; padding:0; list-style:none; color:$black-body; line-height:1.3; text-align:left;
		&:before { position:absolute; top:0.5em; left:2px; border-left:1px solid #e8e8e8; content:''; }
		#{$this}__item_1 & { top:-123px;
			&:before { height:117px; }
		}
		#{$this}__item_2 & { top:208px;
			&:before { top:auto; bottom:0.5em; height:75px; border-color:#ccc; }
		}
		#{$this}__item_3 & { top:-148px;
			&:before { height:142px; border-color:#b2b2b2; }
		}
	}
	&__sub-item { padding-left:12px; width:360px;
		&:before { position:absolute; width:5px; height:5px; margin:0.4em 0 0 -12px; border-radius:50%; background-color:#d1d1d1; content:''; }
		&+& { margin-top:4px; }
		#{$this}__item_2 & {
			&:before { background-color:#bfbfbf; }
		}
		#{$this}__item_3 & {
			&:before { background-color:#989898; }
		}
	}
	@media only screen and (max-width:$tablet-size) {
		position:relative; min-height:auto; background:none; text-align:left;
		&:after { position:absolute; top:0; left:100px; z-index:-1; bottom:200px; border-left:1px dashed #ddd; }
		&__item { float:none; display:block; width:auto; height:auto; margin-top:0; padding-left:230px;
			&+& { margin-top:30px; }
			&:before { position:absolute; top:0; left:0; padding-top:0; width:200px; height:200px; line-height:200px; }
		}
		&__wrap { display:table-cell; vertical-align:middle; height:200px; }
		&__para { margin-bottom:15px; line-height:1.3; text-align:left;
			&:before { display:none; }
		}
		&__text { }
		&__sub-list { position:static;
			&:before { display:none; }
		}
		&__sub-item { width:auto; white-space:normal; }
	}
	@media only screen and (max-width:$mobile-size) {
		&:after { left:50px; bottom:100px; }
		&__item { padding-left:115px;
			&+& { margin-top:15px; }
			&:before { width:100px; height:100px; line-height:100px; font-size:13px; }
			&:after { width:100px; height:100px; -webkit-background-size:cover; background-size:cover; }
			&_1:after { background-position:0 0; }
			&_2:after { background-position:0 -100px; }
			&_3:after { background-position:0 -200px; }
			&_4:after { background-position:0 -300px; }
		}
		&__wrap { height:100px; }
		&__para { margin-bottom:10px; font-size:13px; }
		&__text { font-size:12px; }
		&__sub-list { font-size:12px; }
		&__sub-item { padding-left:6px;
			&:before { width:3px; height:3px; margin-left:-6px; }
		}
	}
}

/* 사업분야 */
.about-field { overflow:hidden; margin-left:-20px;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:50%; padding-left:20px;
		&:before { display:block; width:170px; height:170px; margin:0 auto 25px; background:url(../images/about/about-004-field-cycle.png) no-repeat; content:''; }
		&_2:before { background-position:0 -170px; }
	}
	&__summary { margin:0 0 14px 0; font-size:24px; font-weight:$bold; line-height:1.3; }
	@media only screen and (max-width:$tablet-size) {
		margin-left:0;
		&__item { float:none; width:auto; padding-left:0;
			&+& { margin-top:45px; }
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item {
			&:before { width:85px; height:85px; margin-bottom:16px; -webkit-background-size:cover; background-size:cover; }
			&+& { margin-top:24px; }
			&_2:before { background-position:0 -85px; }
		}
		&__summary { margin-bottom:10px; font-size:14px; }
	}
}

/* 사업분야 연락처 */
.about-address { display:inline-block; margin:0; padding:0; line-height:1.3; text-align:left;
	$this : &;
	&__wrap { display:inline-block; }
	&__dt { float:left; min-width:8em; padding-left:0.5em; color:$black-tit; font-weight:$bold;
		&:before { position:absolute; content:'·'; margin-left:-0.5em; }
		&+#{$this}__dd+& { margin-top:10px; }
	}
	&__dd { overflow:hidden; margin:0; padding-left:1.5em;
		&:before { position:absolute; content:':'; margin-left:-1.5em; }
		&+#{$this}__dt+& { margin-top:10px; }
	}
	&-wrap { margin-top:90px; text-align:center; }
	@media only screen and (max-width:$mobile-size) {
		&-wrap { margin-top:45px; }
	}
}

/* 사업역량 */
.about-ability { position:relative; height:500px; background:url(../images/about/about-005-ability-bg.png) no-repeat center center;
	$this : &;
	&__item {width:290px; -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; letter-spacing:-0.01em;
		&_1 { top:0; left:0; }
		&_2 { top:0; right:0; }
		&_3 { bottom:0; left:0; height:200px;}
		&_4 { bottom:0; right:0; height:200px;}
	}
	&__tit { margin:0 0 15px 0; font-weight:$bold; font-size:20px; line-height:1.1;}
	@media only screen and (max-width:$tablet-size) {
		overflow:hidden; position:static; height:auto; margin-top:-24px; margin-left:-20px; background:none; font-size:0;
		&__item { display:inline-block; position:static; width:50%; min-height:100px; margin-top:24px; padding-left:20px; font-size:13px; vertical-align:top;
			&_3 {height:auto;}
			&_4 {height:auto;}
		}
		&__tit {position:relative; padding:12px 0 12px 39px;; margin-bottom:8px; font-size:13px; background-color:#f0f0f0;
			&:before {position:absolute; top:0px; bottom:0px;left:0px; display:inline-block; width:39px; height:39px; margin:auto 5px auto 0px; @include background-image-retina('../images/about/about-005-ability-ico','png',39px,156px); background-repeat:no-repeat; content:''; vertical-align:middle; }
			#{$this}__item_2 & { background-color:#dbdbdb;
				&:before { background-position:0 -39px; }
			}
			#{$this}__item_3 & {
				&:before { background-position:0 -78px; }
			}
			#{$this}__item_4 & { background-color:#dbdbdb;
				&:before { background-position:0 -117px; }
			}
		}
	}
	@media only screen and (max-width:$mobile-size) {
		margin-left:0;
		&__item { display:block; width:auto; padding-left:0; }
	}
}

/* 연혁소개 */
.about-history-link-wrap { margin-bottom:30px;
	@media only screen and (max-width:$mobile-size) {
		margin-bottom:5px;
	}
}
.about-history-list { margin:0; line-height:1.3;
	$this :&;
	$another :#{$this}_another;
	#{$another} { }
	&__dt { float:left; min-width:5.5em; margin-right:10px; color:$black-tit; font-weight:$bold;
		#{$another} & { float:right; margin-left:10px; margin-right:0;}
	}
	&__dd { overflow:hidden; margin:0; color:$black-body;
		#{$another} & { text-align:right; }
	}
	&__dt+&__dd+&__dt,
	&__dd+&__dt+&__dd { margin-top:5px; }
	@media only screen and (max-width:$tablet-size) {
		&__dt {
			#{$another} & { float:left; margin-right:10px; margin-left:0; }
		}
		&__dd {
			#{$another} & { text-align:left; }
		}
	}
}
.about-history-simple {
	$this : &;
	&__item { padding:20px 0; border-bottom:1px dashed #d3d3d3; }
	&__header {position:relative; }
	&__body { display:none;
		#{$this}__item.on & { display:block; }
	}
	&__tit { margin:0; padding-right:60px; font-weight:$normal; color:$black-tit; font-size:24px; cursor:pointer;
		#{$this}__item.on & { color:$purple; }
	}
	&__year { display:table-cell; width:88px; height:88px; padding-right:147px; vertical-align:middle; line-height:88px; font-size:20px; font-weight:$bold;  text-align:center;
		&:before{content:'';position:absolute; z-index:-1;display:block; width:235px; height:88px; background:url(../images/about/about-006-history-year-cycle.png) no-repeat;
			#{$this}__item.on & { background-position:0 -88px; }
			@media only screen and (max-width:$tablet-size){width:110px;}
			@media only screen and (max-width:$mobile-size){width:76px; height:44px;background-size:auto 88px;
				#{$this}__item.on & { background-position:0 -44px; }
			}
		}
	}
	&__headline { display:table-cell; padding-left:14px; vertical-align:middle;
		#{$this}__item.on & { text-shadow:0 0 $purple; }
	}
	&__btn-toggle { display:table-cell; position:absolute; right:0; -webkit-box-sizing:border-box; box-sizing:border-box; width:52px; height:52px; margin:-70px 0 0 0; border:0; background:url(../images/about/about-006-history-btn-toggle.png) no-repeat; text-indent:-999em; cursor:pointer; vertical-align:middle;
		#{$this}__item.on & { background-position:0 -52px; }
	}
	&__wrap { padding:24px 0 0 255px; }
	&__para { margin:0; line-height:1.5; color:$black-body; }
	&__list { margin-top:15px; }
	&__img-wrap { margin-top:15px;  }
	&__img { max-width:100%; }
	@media only screen and (max-width:$tablet-size) {
		&__year { padding-right:22px; }
		&__wrap { padding-left:130px; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { padding-top:15px; padding-bottom:15px; }
		&__tit { font-size:14px; padding-right:30px; }
		&__year { width:44px; height:44px; font-size:12px; padding-right:32px; -webkit-background-size:130px auto; background-size:130px auto; line-height:44px;
			#{$this}__item.on & { background-position:0 -44px; }
		}
		&__btn-toggle { width:26px; height:26px; margin-top:-35px; background-size:cover;
			#{$this}__item.on & { background-position:0 -26px; }
		}
		&__wrap { padding-left:0; padding-top:15px; }
	}
}
.about-history-full { overflow:hidden; text-align:left; font-size:0; margin-top:50px;
	$this :&;
	$another :#{$this}__item_another;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; position:relative; width:50%; padding-left:30px; font-size:13px; vertical-align: top; margin-top:90px;
		&:before { position:absolute; z-index:-1; left:0; top:-1000px; height:1000px; margin-top:38px; border-left:1px solid #ddd; content:''; }
		&:after { position:absolute; z-index:10; top:35px; left:-5px; -webkit-box-sizing:border-box; box-sizing:border-box; width:11px; height:11px; border:2px solid #ddd; border-radius:50%; background-color:#fff; content:''; }
		&_another { padding-right:30px; padding-left:0; margin-top:0;
			&:before { left:auto; right:-1px; }
			&:after { left:auto; right:-6px; }
		}
		&:first-child { z-index:10; margin-top:0px;
			&:before { border-color:#fff; }
		}
		&_2016 { margin-left:50%;
			@media only screen and (max-width:$tablet-size) {margin-left:0%;}
		}
		&_2015 { margin-top:-30px; }
		&_2014 { margin-top:130px; }
		&_2013 { margin-top:-38px; }
		&_2012 { margin-top:109px; }
		&_2011 { margin-top:0; }
		&_2010 { margin-top:90px; }
		&_2009 { margin-top:-40px; }
		&_2008 { margin-top:131px; }
		&_2007 { margin-top:0; }
		&_2005 { margin-top:90px; }
		&_2002 { margin-top:0; }
	}
	&__wrap { padding:16px; border:1px solid #e6e6e6; background-color:#fff;
		&:before,
		&:after { position:absolute; top:30px; left:10px; height:0; border-width:10px 20px 10px 0; border-style:solid; border-color:transparent #e6e6e6 transparent transparent; content:'';
			#{$another} & { left:auto; right:10px; border-width:10px 0 10px 20px; border-color:transparent transparent transparent #e6e6e6;}
		}
		&:after { z-index:1; margin-left:2px; border-right-color:#fff;
			#{$another} & { margin-right:2px; border-left-color:#fff; }
		}
	}
	&__tit { margin:0 0 18px 0; line-height:1.1; font-weight:$bold; font-size:24px; color:$black-tit;
		#{$another} & { text-align:right; }
	}
	@media only screen and (max-width:$tablet-size) {
		margin-top:25px;
		&__item { width:100%; padding-left:35px;
			&:before { left:5px; }
			&:after { left:0; }
			&+& { margin-top:20px; }
			&_another { padding-right:0;
				&:before { left:5px; right:auto; }
				&:after { left:0; right:auto; }
			}
		}
		&__wrap {
			&:before,
			&:after { left:15px;
				#{$another} & { left:15px; right:auto; border-width:10px 20px 10px 0; border-color:transparent #e6e6e6 transparent transparent; }
			}
			&:after {
				#{$another} & { margin-left:2px; border-right-color:#fff; }
			}
		}
		&__tit {
			#{$another} & { text-align:left; }
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { padding-left:20px;
			&:before { margin-top:5px; }
			&:after { top:0.3em; }
		}
		&__wrap { margin-top:25px; padding:10px;
			&:before,
			&:after { display:none; }
		}
		&__tit { position:absolute; top:0; left:20px; font-size:15px; }
	}
}
/* 파트너스 */
.about-partners-map { position:relative; padding-top:56.4%;
	&__item { display:none; position:absolute; top:0; left:0; bottom:0; right:0; background-position:center center; background-repeat:no-repeat; -webkit-background-size:cover; background-size:cover;
		&:before { position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/about/about-008-partners-map-name.png) no-repeat; -webkit-background-size:cover; background-size:cover; content:''; }
		&.on { display:block; }
		@for $i from 1 through 30 {
			&_#{$i} { background-image:url(../images/about/about-008-partners-map#{$i}.png); }
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item {
			&:before { @include background-image-retina('../images/about/about-008-partners-map-name-m','png',cover); }
			@for $i from 1 through 30 {
				&_#{$i} { @include background-image-retina('../images/about/about-008-partners-map#{$i}-m','png',cover); }
			}
		}
	}
}
.about-partners-logo { position:relative;
	$this:&;
	&__wrap { overflow:hidden; margin:0 65px; padding:1px 1px 10px;
		&:before { z-index:-1; position:absolute; top:0; left:65px; right:66px; bottom:9px; border:1px solid #e7e3e7; content:''; }
	}
	&__list { position:relative; height:100%; margin:0; padding:0; font-size:0; white-space:nowrap; list-style:none; background-color:#f9f9f9;
		&:before { position:absolute; z-index:10; top:-1px; left:-1px; bottom:-1px; border-left:1px solid #fff; border-right:1px solid #e7e3e7; content:''; }
		&:after { position:absolute; z-index:1000; top:-1px; right:-5px; bottom:-1px; border-left:1px solid #e7e3e7; border-right:5px solid #fff; content:''; }
	}
	&__item { position:relative; -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:14.28%; height:90px; font-size:13px; background-color:#f9f9f9;
		&:before { position:absolute; /* z-index:-1; */ top:0; left:0; bottom:0; right:-1px; border-left:1px solid #e7e3e7; border-right:1px solid #e7e3e7; content:''; }
		&.on { position:relative; z-index:100;
			&:before { border:3px solid #000; left:1px; top:1px; right:1px; bottom:1px; }
			//&:after { position:absolute; bottom:-9px; left:0; right:0; margin:auto; width:0; height:0; border-width:10px 7px 0 7px; border-style:solid; border-color:#000 transparent transparent transparent; content:''; }
		}
	}
	&__link { -webkit-box-sizing:border-box; box-sizing:border-box; position:relative; z-index:10; display:block; padding:2px; height:90px;  vertical-align:middle; text-align:center; font-size:0;
		&:before { display:inline-block; height:100%; vertical-align:middle; content:''; }
		#{$this}__item.on & { }
	}
	&__img { max-width:100%; max-height:100%; vertical-align:middle; font-size:13px; }
	&__pagination { position:absolute; z-index:9; left:0; bottom:26px; width:126px; text-align:center; color:$black-tit; }
	&__btn-wrap { }
	&__btn { position:absolute; z-index:100; top:0; bottom:10px; -webkit-box-sizing:border-box; box-sizing:border-box; width:38px; height:38px; margin:auto; padding:0; border:1px solid #ccc; background-color:#fff; text-indent:-999em; cursor:pointer;
		&:hover { border-color:#222;
			&:before { background-position-y:-13px; }
		}
		&:before { position:absolute; top:0; left:0; right:0; bottom:0; width:8px; height:13px; margin:auto; @include background-image-retina('../images/about/about-008-btn-logo','png',16px,39px); content:''; }
		&_prev { left:0; }
		&_next { right:0;
			&:before { background-position-x:-8px; }
			&:hover:before { background-position-y:-13px; }
		}
	}
	@media only screen and (max-width:$tablet-size) {
		margin-left:-12px; margin-right:-12px;
		&:before { display:none; }
		&__wrap { margin-left:30px; margin-right:30px;
			&:before { left:30px; right:30px; border-left:none; border-right:none; }
		}
		&__list {
			//&:before,
			//&:after { display:none; }
		}
		&__pagination { display:none; }
		&__btn-wrap { }
		&__btn { width:23px; height:30px; border:none; border-radius:0 23px 23px 0; background-color:rgba(97,64,155,0.5);
			&:before { height:6px; height:10px; background-position-y:-26px; }
			&:hover:before { background-position-y:-26px; }
			&_next { border-radius:23px 0 0 23px;}
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { height:60px; }
		&__link { height:60px; padding:5px; }
	}
}


.about-partners-country {
	&__item { display:none;
		&.on { display:block; }
	}
	&__heading { @include hidden(); }
	&__tit-v1 { margin:50px 0 25px 0; font-size:16px; color:$purple; line-height:1.3; text-transform:uppercase; }
	&__tit-v2 { margin:24px 0 18px 0; color:$black-tit; line-height:1.3; }
	&__list { overflow:hidden; margin:-20px 0 0 0; padding:0; list-style:none; font-size:0; line-height:1.3;
		&:before { position:absolute; z-index:10; border-top:20px solid #fff; width:100%; content:''; }
	}
	&__list-item { position:relative; z-index:-1/0; display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; width:25%; padding:20px 0 0 15px; font-size:13px; color:$black-body; border-left:1px solid #ddd; vertical-align:top;
		&:before { position:absolute; left:-1px; top:200%; height:100%; border-left:1px solid #ddd; content:'' }
	}
	@media only screen and (max-width:$tablet-size) {
		&__list { margin-top:-10px;
			&:before { border-top-width:10px; }
		}
		&__list-item { width:50%; padding-left:10px; padding-top:10px; padding-right:5px; font-size:12px; }
	}
}

.about-partners-date { margin:10px 0 30px; text-align:right; color:$black-body;
}

/*ceo*/
.about-ceo{
    position:relative;
    height:370px;
    margin-bottom:40px;
    border-bottom:2px solid #61409b;
	@media only screen and (max-width:$tablet-size) {height:360px;}
    &__summary{
		margin:0;
        padding-top:80px;
        font-size:20px;
        line-height:30px;
		&-tit{display:inline-block;margin-bottom:40px;font-size:16px;color:#676767;font-weight:$bold;}
    }
    &__img-wrap{
        position:absolute;
		width:100%;
		z-index:-1;
        right:0px;
		bottom:0px;
		text-align:right;
    }
    &__img{
        max-width:100%;
    }
	&-total{
		margin-bottom:4%;
	}
    @media only screen and (max-width:$tablet-size) {
    .about-ceo{
        &__summary{
			padding-top:20px;
			font-size:13px;
			line-height:22px;
			&-tit{font-size:13px;margin-bottom:20px;}
        }
        &__img-wrap{
                &__first{
                    height:190px;
                    width:285px;
                }
                &__second{
                    height:190px;
                    width:274px;
                    bottom:-15px;
                }
            }
        }
    }
}
.para-v1{
	&_last { margin-top:40px; color:#222; text-align:right;}
	@media only screen and (max-width:$tablet-size) {
		font-size:12px;
		&_last { margin-top:20px; }
	}
}
.about-ability .para-v1{
	font-size:12px;
}
.about-007{
    &__tit{font-size:24px;font-weight:$bold;}
    &__para{color:$black-body; line-height:1.3;}
    &__img{display:inline-block;margin:60px 0px;
        & img{width:100%;}
        &-type{margin-top:40px;}
        &-wrap{text-align:center;}
    }
    &__color{
        & h3{margin:40px 0px 0px 30px; font-size:16px; font-weight:$bold;}
        &__item{display:inline-block; width:19.7%;height:130px; margin-top:20px; padding-left:30px; text-align:center;-webkit-box-sizing:border-box; box-sizing:border-box;
            &-wrap{position:relative;margin:0px 0px 0px -30px;}
        }
        &__border{border:1px solid #eeeeee; box-sizing: border-box;}
        &-box{height:60px; color:#fff; font-size:16px; line-height:60px;
            &1{background-color:#4db848;}
            &2{background-color:#000000;}
            &3{background-color:#f7941e;}
            &4{background-color:#6d6e71;}
            &5{background-color:#7064ac;}
            &6{background-color:#c4953e;}
            &7{background-color:#bcbdc0;}
        }
        &-info{display:table-cell; vertical-align: middle; width:1%; height:68px; padding:0px 10px;color:$black-body; font-size:13px; text-align:left;
            & p{margin:5px 0px;}
        }
    }
    @media only screen and (max-width:$tablet-size) {
        &__tit{font-size:16px; margin:10px 0px;}
        &__para{line-height:1.5;}
        &__img{width:296px; margin:30px 0px; text-align:center;
            & img{display:inline-block; width:100%;}
            &-type{width:100%;margin-top:20px;}
        }
        &__color{
            & h3{margin:20px 0px 5px 0px; font-size:14px; padding-left:15px;}
            &__item{display:inline-block; width:19.3%;height:111px;  margin-top:10px; padding-left:15px;
                &-wrap{margin:0px 0px 0px -15px;}

            }
            &-box{height:52px; color:#fff; font-size:13px; line-height:52px;}
            &-info{height:59px; font-size:12px;}
        }
    }
    @media only screen and (max-width:$mobile-size) {
        &__tit{font-size:16px; margin:10px 0px;}
        &__para{line-height:1.5;}
        &__img{width:296px; margin:30px 0px; text-align:center;
            & img{display:inline-block; width:100%;}
            &-type{width:100%;margin-top:20px;}
        }
        &__color{
            & h3{margin:20px 0px 5px 0px; padding-left:10px; font-size:14px;}
            &__item{display:inline-block; width:49%;height:110px; padding-left:10px;
                &-wrap{margin:0px 0px 0px -10px;}
            }
            &-box{height:50px; color:#fff; font-size:13px; line-height:50px;}
            &-info{height:60px; font-size:12px;}
        }
    }
}
