@charset "utf-8";
@import "mixin";

/* Biosimilar */
.bio-box {
	&_next { margin-top:75px; }
	@media only screen and (max-width:$tablet-size) {
		margin-top:28px;
	}
}
.bio-info-btn-wrap { margin-top:16px;
	@media only screen and (max-width:$tablet-size) {
		margin-top:8px;
	}
}
.bio-value-img { margin:30px auto; text-align:center;
	@media only screen and (max-width:$tablet-size) {
		width:265px; margin-top:15px; margin-bottom:15px;
	}
	img { max-width:100%; }
}

.bio-value { border-bottom:1px dashed #d3d3d3;
	$this: &;
	&__header { position:relative; padding:36px 0;
		&.off { padding-right:65px;
			+#{$this}__body { display:none; }
		}
		&.on { padding-right:65px; }
	}
	&__body { }
	&__tit { margin:0; font-size:24px; margin-bottom:14px; line-height:1.3; }
	&__first-letter { display:inline-block; color:$purple; line-height:24px;
		&:after { content:' \003e'; font-size:16px; vertical-align:top; }
	}
	&__para { margin:0; color:$black-body; line-height:1.5; }
	&__btn-toggle { position:absolute; top:0; bottom:0; right:0; -webkit-box-sizing:border-box; box-sizing:border-box; width:52px; height:52px; margin:auto; border:0; background:url(../images/bio/bio-001-btn-toggle.png) no-repeat; text-indent:-999em; cursor:pointer;
		&.on { background-position:0 -52px;}
		&.off { background-position:0 0;}
	}
	@media only screen and (max-width:$tablet-size) {
		font-size:12px;
		&__header { padding-top:13px; padding-bottom:13px;
			&_off { padding-right:55px; }
			&_on { padding-right:55px; }
		}
		&__body { margin-left:-12px; margin-right:-12px; }
		&__tit { margin-bottom:7px; font-size:15px; }
		&__first-letter { line-height:15px;
			&:after { font-size:12px; line-height:14px; }
		}
		&__btn-toggle { width:26px; height:26px; -webkit-background-size:cover; background-size:cover;
			&.on { background-position:0 -26px;}
			&.off { background-position:0 0;}
		}
	}
}

.bio-tri { margin-bottom:60px; padding:50px 65px; background-color:#f8f8f8; color:$black-body;
	&__tit { margin:0; font-size:20px; font-weight:$normal; color:$black-tit; line-height:1.3;
		&_next { margin-top:56px; }
	}
	&__para { margin:14px 0 0 0; line-height:1.5; }
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:15px; padding:14px 12px;
		&__tit { font-size:15px;
			&_next { margin-top:25px; }
		}
		&__para { margin-top:10px; }
	}
}

/* 류마티스 관절염 환자의 약제간 약가 비교표 */
.bio-table-rheumatism { margin-top:40px;
	&__col { width:25%; }
	@media only screen and (max-width:$tablet-size) {
		min-width:500px; margin-top:15px;
	}
}

/* 선진국의 바이오시밀러 지원 정책 */
.bio-policy { overflow:hidden; position:relative; margin-top:40px; margin-left:-20px; background:url(../images/bio/bio-001-policy-map.png) no-repeat center 208px;
	$this: &;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; width:50%; padding-left:20px; float:left; line-height:1.3; color:$black-tit;
		&_denmark {
			#{$this}__tit {
				&:after { background-position:0 0; }
			 }
		}
		&_norway {
			#{$this}__tit {
				&:after { background-position:0 -23px; }
			 }
		}
		&_uk { margin-top:-70px;
			#{$this}__tit {
				&:after { background-position:0 -46px; }
			 }
		}
		&_finland { margin-top:178px;
			#{$this}__tit {
				&:after { background-position:0 -69px; }
			 }
		}
		&_us { margin-top:-43px;
			#{$this}__tit {
				&:after { background-position:0 -92px; }
			 }
		}
		&_france { margin-top:30px;
			#{$this}__tit {
				&:after { background-position:0 -115px; }
			 }
		}
		&_hungary { position:absolute; bottom:0;
			#{$this}__tit {
				&:after { background-position:0 -138px; }
			 }
		}
		&_germany { float:right; margin-top:30px;
			#{$this}__tit {
				&:after { background-position:0 -161px; }
			 }
		}
	}
	&__wrap { -webkit-box-sizing:border-box; box-sizing:border-box; padding:20px; border:1px solid #eee; background:url(../images/blank/fff-80.png); background:rgba(255,255,255,.8); }
	&__tit { margin:0 0 16px 0; font-size:18px; line-height:1.3; font-weight:$bold;
		&:after { display:inline-block; width:23px; height:23px; margin-top:-2px; margin-left:6px; background:url(../images/bio/bio-001-policy-flag.png) no-repeat; content:''; vertical-align:middle; }
	}
	&__para { margin:0; line-height:1.5; }
	@media only screen and (max-width:$tablet-size) {
		position:static; margin-top:15px; margin-left:0; padding-top:60%; background-position:center top; -webkit-background-size:contain; background-size:contain;
		&__item { float:none; width:auto; position:static; padding-left:0;
			&+& { margin-top:15px; }
		}
		&__wrap { padding:10px; background-color:#fdfdfd; }
		&__tit { margin-bottom:6px; font-size:15px;
			&:after { -webkit-transform:scale(.6,.6); -ms-transform:scale(.6,.6); transform:scale(.6,.6); margin-left:2px; }
		}
	}
}

/* 램시마 도입 후 유럽 의약품 비용 절감 예상치 */
.bio-table-reduction-eu { min-width:800px;
	&__col { width:12.5%; }
	[class*="right"] { padding-right:30px;
		@media only screen and (max-width:$tablet-size) {
		//	padding-left:10px; padding-right:10px;
		}
	}

}

/* 절감한 의약품 비용을 통해 램시마로 치료할 수 있는 추가 환자 수 */
.bio-table-reduction-sick { min-width:800px;
	&__col { width:12.5%; }
	[class*="right"] { padding-right:30px;
		@media only screen and (max-width:$tablet-size) {
		//	padding-left:10px; padding-right:10px;
		}
	}
}

.bio-progress { overflow:auto; position:relative;
	&__wrap { overflow:hidden; position:relative; margin:0 0 0 -16px; padding:0; list-style:none; min-width:886px;
		&:after { position:absolute; bottom:27px; left:16px; right:0; border-bottom:1px solid #ddd; content:''; }
	}
	&__item { position:relative; z-index:10; -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:16.666%; padding-left:16px; padding-bottom:60px; }
	&__tit { position:absolute; z-index:-1; bottom:0; left:16px; right:0; margin:0; text-align:center; color:$black-tit; font-weight:$bold; font-size:13px; line-height:1.3;
		&:before { position:absolute; z-index:10; left:0; right:0; bottom:20px; -webkit-box-sizing:border-box; box-sizing:border-box; width:13px; height:13px; margin:auto; border:4px solid #ddd; background-color:#fff; border-radius:50%; content:''; }
		&:after { position:absolute; left:0; right:0; bottom:30px; width:0; height:40px; margin:auto; border-left:1px solid #ddd; content:''; }
	}
	@media only screen and (max-width:$tablet-size) {
		margin-top:20px;
		&__wrap { margin-top:0;}
	}
}

.bio-year-note { color:$black-body; line-height:1.3; font-size:16px;
	&__item {
		&:before { display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; width:16px; height:16px; margin:-2px 5px 0 0; border:1px solid #ddd; border-radius:50%; background-color:#fff; content:''; vertical-align:middle; }
		&+& { margin-left:16px;}
		&_another {
			&:before { border-color:#9d88c0; background-color:#8166af; }
		}
		@media only screen and (max-width:$mobile-size){
			display:block;
			&+&{margin-left:0px; margin-top:5px;}
		}
	}
	@media only screen and (max-width:$tablet-size) {
		float:left; font-size:13px;
		&__item {
			&:before { width:14px; height:14px; }
		}
	}
}
.bio-year-edge { position:absolute; top:4; right:0; font-size:12px; }


.bio-year-data { margin:0; padding:0; list-style:none; line-height:1.3; color:#999;
	$this : &;
	&__item { height:26px; -webkit-box-sizing:border-box; box-sizing:border-box; border:1px solid #f0f0f0; border-radius:2px; background-color:#fff; font-size:11px; line-height:26px;
		&+& { margin-top:9px; }
		&_another { border-color:#9d88c0; background-color:#8166af; color:#fff;
			#{$this}__cell_value:before { border-color:#fff; }
		}
	}
	&__cell { display:block; text-align:center; vertical-align:middle;
		&_name { margin-right:44px; }
		&_value { -webkit-box-sizing:border-box; box-sizing:border-box; float:right; position:relative; padding:0 5px; width:44px; margin-top:-26px; text-align:right;
			&:before { position:absolute; top:0; bottom:0; left:0; height:8px; margin:auto; border-left:1px solid #999; content:''; }
		}
	}
}

.bio-sale-graph { overflow:auto;
	&__img { }
}

/* 제네릭과 바이오시밀러의 차이 */
.bio-generic { overflow:hidden; margin-top:57px; color:$black-body;
	$this : &;
	&__item { float:left; -webkit-box-sizing:border-box; box-sizing:border-box; width:30%; background-color:#fff; border:1px solid #eee; text-align:center; line-height:1.5;
		&_second { margin-left:10%; }
		&_third { margin-left:-1px;}
	}
	&__desc { position:relative; height:100px;
		&+& { border-top:1px solid #fff; border-bottom:1px solid #fff; margin-top:-1px; }
		&:after { position:absolute; left:19px; right:19px; top:-1px; border-top:1px solid #eee; content:''; }
		&_another { z-index:1; height:135px; background-color:#fafafa; font-size:16px; color:$black-tit;
			&:after { display:none; }
		}
		&_img-wrap { z-index:10; max-width:100%; height:auto; color:$black-tit; border-bottom:none !important;
			&:after { display:none; }
		}
		&_tit { height:90px; color:$black-tit; }
		&_dubble { position:relative; z-index:2; width:200%; }
		&_hide { text-indent:-999em; }
	}
	&__wrap { display:table-cell; width:1%; height:inherit; vertical-align:middle; }
	&__tit { margin:0; font-size:16px; font-weight:$normal;}
	&__text { display:block; }
	&__img { width:100%; }
	@media only screen and (max-width:$tablet-size) { margin-top:15px; font-size:12px;
		&__tit { font-size:13px; }
		&__desc {
			&.type-another{height:125px;}
			&_another { font-size:13px; }
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { float:none; width:auto;
			&_second { float:left; width:50%; margin-top:25px; margin-left:0; }
			&_third { float:left; width:50%; margin-top:25px; }
		}
	}
}

//bio_002.css
.bio__002{padding:95px 0px 170px 0px; font-size:0;background-image:url('../images/bio/bio-002-bg.jpg'); background-position:center center; background-repeat:no-repeat;
	&-mobile{display:none;}
	&__item{position:relative;display:inline-block; vertical-align:top; width:150px;height:172px;  margin-top:65px; text-align:center;
		&-wrap{display:table-cell;vertical-align: middle; width:1%;height:172px; text-align:center;
			&1{background-image:url('../images/bio/bio-002-bg-001.png')}
			&2{background-image:url('../images/bio/bio-002-bg-002.png')}
			&3{background-image:url('../images/bio/bio-002-bg-003.png')}
		}
		&-tit{font-size:13px; color:#666; font-weight:bold;
			&2{color:#61409b; font-weight:bold;}
		}
		&-txt{font-size:13px; color:#676767; text-align:center;
			&1{}
			&2{color:#61409b;
				& span{font-weight:bold;}
			}
		}
	}
	&__process{display:inline-block;vertical-align:top; margin-top:65px; padding-top:25px;width:9%;height:9%; border-bottom:1px solid #222; font-size:13px; color:#222;text-align:center;
		&-tit{
			&2{color:#61409b; font-weight:bold;}
			&-bin{text-indent:-9999px;padding-top:32px;}
		}
	}
	&__final{position:relative;display:inline-block;
		&:before{content:'';position:absolute;top:0;bottom:0; margin:auto 0;height:228px; width:1px; background-color:#61409b;}
		&__item{position:relative; width:220px;height:10%; padding-left:30px;
			& h3{font-size:16px; color:#61409b; margin:0px;}
			& p{font-size:13px; color:#222;}
			&:before{content:'';position:absolute;top:2px;bottom:0;left:0px; margin:auto 0; display:block; width:25px; height:1px; background-color:#61409b;}
			&.nth-1{
				&:before{top:12px;}
			}
		}
		&__item + .bio__002__final__item{margin-top:131px;}
	}
	@media only screen and (max-width:$tablet-size){
		&-pc{display:none;}
		&-mobile{display:block;
			&-wrap{width:100%;text-align:center;margin-top:25px;}
			&__item{display:inline-block;width:130px;height:130px; border: 1px solid #313131; border-radius:65px;
				&2{border-color:#61409b; margin-bottom:5%;}
				&-wrap{display:table-cell;vertical-align: middle; width:1%;height:130px;text-align:center;
					& h3{margin:0 0 10% 0; font-size:13px;}
				}
				&-border{width:100%; margin-bottom:5%;}
				&-img{display:inline-block;
					&1{width:42px;}
					&2{width:28px;}
					&3{width:45px;}
					&4{width:27px;}
					& img{width:100%;}
				}
			}
			&__pill{display:inline-block; width:49%; vertical-align: top;
				&-tit{position:relative;display:inline-block; width:100%; padding:5% 0px; border:1px dashed #bbbbbb; font-size:14px; color:#676767; margin-bottom:30px;
					&:before{position:absolute; top:-18px;right:0;left:0; margin:0px auto;content:'';display:block; width:1px; height:18px; background-color:#bbbbbb;}
					&:after{position:absolute; bottom:-25px; left:0;right:0; display:block; width:0; height:0; margin:0px auto; content:'';border-style:solid; border-width:8px; border-color:#bbb transparent transparent transparent;}
				}
				&-wrap{position:relative; font-size:0;
					&:before{position:absolute; top:0; right:0;left:0;margin: 0px auto;content:'';display:block; width:50.7%; height:1px; background-color:#bbbbbb;}
					&2{
						&:before{top:-17px;}
					}
				}
				& + .bio__002-mobile__pill{margin-left:2%;}
			}
			&__medicine{border:1px solid #bbb; height:230px;
				&-wrap{display:table-cell; width:1%;height:120px; vertical-align: middle;background-color:#f8f8f8;-webkit-box-sizing:border-box; box-sizing:border-box;}
				&-tit{margin:0px; margin-bottom:7%;font-size:13px; color:#676767;}
				&-txt{padding:0px 5px; font-size:13px;line-height:1.5; color:#676767;
					&-wrap{display:table-cell;width:1%; vertical-align: middle;}
					& span{font-weight:bold;}
				}
			}
			&__bio{position:relative;border:1px solid #bbb; height:150px;
				&:before{position:absolute; top:-18px;right:0;left:0; margin:0px auto;content:'';display:block; width:1px; height:18px; background-color:#bbbbbb;}
				&-wrap{display:table-cell; width:1%; vertical-align: middle;height:60px; background-color:#f8f8f8;-webkit-box-sizing:border-box; box-sizing:border-box;}
				&-tit{margin:0px;font-size:14px; color:#676767;}
				&-txt{padding:0px 5px; font-size:13px;line-height:1.5; color:#222222;
					&-wrap{display:table-cell;width:1%;height:90px; vertical-align: middle;}
					& span{font-weight:bold;}
				}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&-mobile{
			&__pill{
				&-tit{font-size:13px;}
			}
			&__medicine{ height:290px;
				&-txt{font-size:12px;}
			}
			&__bio{height:194px;
				&-tit{font-size:13px;}
				&-txt{font-size:12px;}
			}
		}
	}

}
.puple-color{color:#61409b}
//bio_003.css
.bio-003-imgbox{display:inline-block;position: relative;width: 100%;height: 0;overflow: hidden; padding-bottom:47%; margin-top:20px;}
.bio-003-imgbox-img{position:absolute; margin:0px; top:0;left:0;width:100%;height: 100%;background-position:center center; background-size:cover; background-repeat:no-repeat}
.bio-003-img-1{background-image:url('../images/bio/bio-003.jpg')}
@media only screen and (max-width: 668px){
	.bio-003-imgbox{width:100%;padding-bottom:59.32%;}
	.bio-003-img-1{background-image:url('../images/bio/bio-003-mobile.jpg')}
}
