@charset "utf-8";
@import "mixin";

/* 고객센터 */
.cscenter-summary { margin:0 0 26px 0; color:$black-body; }

.cscenter-header { overflow:hidden; line-height:1.3;
	&_next { margin-top:48px; }
	&__tit { float:left; margin:0 0 16px 0; font-size:16px; font-weight:$bold; color:$black-tit; }
	&__edge { float:right; margin-bottom:5px; }
	&__tit+&__edge { margin-top:13px; }
	@media only screen and (max-width:$mobile-size) {
		margin-bottom:10px;
		&_next { margin-top:24px; }
		&__tit { float:none; margin-bottom:0; }
		&__edge { float:none; margin-bottom:0; }
		&__tit+&__edge { margin-top:5px; }
	}
}

.cscenter-table {
	&__th { width:190px; }
	&__textarea { height:150px; }
	@media only screen and (max-width:$mobile-size) {
		&__th { width:60px; }
		&__textarea { height:100px; }
	}
}
.cscenter-agree-v1 { margin-top:48px;
	&__wrap { height:140px; }
	@media only screen and (max-width:$mobile-size) {
		margin-top:24px;
	}
}
.cscenter-btn-group { margin-top:40px; text-align:center; }

.cs-textarea { height:150px;
	@media only screen and (max-width:$mobile-size) {
		height:100px;
	}
}

/* 제품의학정보 */
.product-info-job-header {
	&__col { display:inline-block;
		&_btn-wrap { }
	}
	@media only screen and (max-width:$mobile-size) { display:table; margin-bottom:5px;
		&__col { display:table-cell; vertical-align:top; width:1%;
			&_btn-wrap { text-align:right; }
		}
	}
}
.product-info-job-list {
	&__item {  }
	@media only screen and (max-width:$tablet-size) {
		text-align:left; margin-bottom:0;
		&__item { min-width:25%;}
		&:after { display:none; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { min-width:50%;}
	}
}

/* 부작용 보고 */
.side-effect-age-blank { margin-left:50px;
	@media only screen and (max-width:$mobile-size) {
		margin-left:0;
	}
}
.side-effect-age-list { margin-top:10px;
	@media only screen and (max-width:$tablet-size) {
		&__item { float:left; width:33.3%; display:block; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { width:50%; }
	}

}

.side-effect-recovery-list {
	&__item { display:inline-block; margin-right:20px; }
	@media only screen and (max-width:$tablet-size) {
		&__item {}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { float:left; width:50%; margin-right:0; }
	}
}
.side-effect-date-blank { margin-left:50px;
	&:before { float:left; content:'~'; width:50px; margin-left:-50px; text-align:center; }
	@media only screen and (max-width:$tablet-size) {
		display:table; margin-left:0; margin-top:5px;
	}
	@media only screen and (max-width:$mobile-size) {
		margin-left:0;
	}
}

.side-effect-term { display:inline-block; width:280px;
	@media only screen and (max-width:$mobile-size) {
		display:block;
	}
}

.side-effect-batch { padding-left:50px;
	@media only screen and (max-width:$mobile-size) {
		width:1%; padding-left:0;
	}
}

/*cs-001*/
.cs-001{
	overflow:hidden; margin-top:-20px;
	@media only screen and (max-width:$tablet-size) {margin-top:0px;}
    &__item{
        float:left;
        position:relative;
        width:50%;
        margin-top:35px;
        -webkit-box-sizing:border-box; box-sizing:border-box;
        h2{
            margin:0px 0px 20px 0px;
            font-size:24px;
            color:$black-tit;
        }
    }
    //&__item_first{margin-top:15px;}
    &__wrap{
        display:table-cell;
        vertical-align:middle;
        height:136px;
        padding-left:156px;
    }
    &__img{
        position:absolute;
        top:0;left:0;
        width:136px;
        img{
            width:100%;
        }
    }
    &__mini-tit{
        font-weight:$bold;
    }
    &__question{
        font-weight:$bold;
        color:$black-tit;
    }
    &__txt{
        margin:0px 0px 10px 0px;
        color:$black-body;
		word-break:break-all;
    }
    @media only screen and (max-width:$tablet-size) {
        &__wrap{
            height:102px;
            padding-left:122px;
        }
        //&__item_first{margin-top:35px;}
        &__item{height:109px; margin-top:15px;
            h2{
                font-size:16px;
                margin:0px 0px 10px 0px;
            }
        }
        &__img{
            width:102px;
        }
        &__question{
            margin:0px 0px 5px 0px;
        }
        &__txt{
            margin:0px 0px 5px 0px;
            font-size:13px;
        }
    }

    @media only screen and (max-width:$mobile-size) {
        &__wrap{
            height:102px;
            padding-left:122px;
        }
        //&__item_first{margin-top:35px;}
        &__item{
            width:100%;
            h2{
                font-size:16px;
                margin:0px 0px 10px 0px;
            }
        }
        &__img{
            width:102px;
        }
        &__question{
            margin:0px 0px 5px 0px;
        }
        &__txt{
            margin:0px 0px 5px 0px;
            font-size:13px;
        }
    }
}

/*오시는길(cs_009)*/
.cs-009-imgbox{ position:relative; width:100%;height:440px; margin:30px 0px; background-image:url('../images/cscenter/carrers-009-01.png'); background-position:center center;
	@media only screen and (max-width:$mobile-size){
		& { height:0; padding-top:60%; }
	}
}
.table-list{ padding:0 0 0 20px; color:#676767;}
.table-list li + li{margin-top:10px; }
.directions{width:100%; border-top:2px solid #8c8a8c;border-collapse:collapse;
	&__col { width:250px; }
	&__th,
	&__td { border-bottom:1px solid #eee;}
	&__th { padding:0 20px; background-color:#f8f8f8; font-size:16px; font-weight:$bold; text-align:left; border-right:1px solid #eee; }
	&__td { padding:0 10px; }
	@media only screen and (max-width:$tablet-size){
		&__col { width:120px; }
		&__th { padding-left:10px; padding-right:10px; font-size:13px; }
	}
	@media only screen and (max-width:$mobile-size){
		border-top:none;
		tr { display:block; margin-top:30px;
			&:first-child { margin-top:0; }
		}
		&__th { display:block; padding-left:0; padding-right:0; background-color:transparent; border:none; font-size:15px; }
		&__td { display:block; border:none; padding-left:0; padding-right:0; }
	}
}
/*투자자문의*/
.agree-box { color:$black-tit; line-height:1.3;
	&__footer {position:relative; margin-top:15px; padding-left:30px;}
}
.checkbox-set-v1__ico{position:absolute;left:0;}
