@charset "utf-8";
@import "mixin";

/* 재무정보 */
.ir-finance { overflow:hidden; text-align:justify; margin:70px 0 0 -20px; padding:0; list-style:none;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:33.33%; padding-left:20px; }
	&__tit { margin:0; color:$black-tit; line-height:1.3; font-size:14px; font-weight:$bold; }
	&__img-wrap { }
	&__img { max-width:100%; }
	@media only screen and (max-width:$mobile-size) {
		margin-left:0;
		&__item { float:none; width:auto; padding-left:0;
			&+& { margin-top:20px; }
		}
	}
}

.ir-finance-position { margin-top:60px;
	&__col { width:20%; }
}

.ir-profits-losses { margin-top:60px;
	&__col { width:25%; }
}

/* 주가정보 */
.ir-stock { margin-top:30px;
	&__iframe { position:relative;
		&_web { height:1087px; }
		&_m { display:none; height:1336px; }
		iframe { overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; border:none; }

	}
	@media only screen and (max-width:$tablet-size) {
		margin-top:20px;
		&__iframe {
			&_web { display:none; }
			&_m { display:block;  }
		}
	}
}

.stock-current-web { height:1100px; }
.stock-minutely-web { height:1300px; }
.stock-daily-web { height:1300px; }
.stock-chart-web { height:900px; }
.stock-marketview-web { height:1500px; }
.stock-foreign-web { height:1300px; }

.stock-current-m { height:1400px; }
.stock-minutely-m { height:1150px; }
.stock-daily-m { height:1200px; }
.stock-chart-m { height:1000px; }
.stock-marketview-m { height:2500px; }
.stock-foreign-m { height:1100px; }


/*공시*/
.ir_006{
	width:725px;
	margin:0px auto;
	text-align:center;
	@media only screen and (max-width:$mobile-size) {
		width:100%;
	}
}

.ir_oo6 iframe{display:inline-block;}
